{{#if @enableCharacterComparison}}
  {{this.characterDiffAsHtml}}
{{else if (and @enableHighlighting this.isDifferent)}}
  <span class="u-preserve-line-breaks"><mark>{{this.displayText}}</mark></span>
{{else}}
  <span class="u-preserve-line-breaks">{{this.displayText}}</span>
{{/if}}