{{#if @characterBased}}
  {{this.characterDiffAsHtml}}
{{else}}
  <span class="u-preserve-line-breaks">{{#if this.isDifferent}}<mark
      >{{this.displayText}}</mark>{{else}}{{this.displayText}}{{/if}}</span>
{{/if}}