{{#if this.edit}}
  <PageHeader>
    <:title>
      Wijzig metadata
    </:title>
    <:action>
    </:action>
  </PageHeader>
{{else}}
  <PageHeader>
    <:title>
      {{@model.metadata.name}}
    </:title>
    <:action>
      <AuButtonGroup>
        <a
          class="au-c-button au-c-button--secondary"
          href="{{bpmn-download-url @model.metadata.id @model.metadata.name}}"
          download="{{@model.metadata.name}}"
          target="_blank"
          rel="noopener noreferrer"
        >
          Download BPMN-bestand
        </a>
        {{#if this.wasPublishedByCurrentOrganization}}
          <AuButton {{on "click" this.openReplaceModal}}>Vervang BPMN-bestand</AuButton>
        {{/if}}
      </AuButtonGroup>
    </:action>
  </PageHeader>
{{/if}}

<AuBodyContainer class="au-o-box au-o-flow" @scroll={{true}}>
  {{#if this.edit}}
    <form {{on "submit" (perform this.updateModel)}}>
      <DataCard>
        <:header></:header>
        <:title>
          Metadata
        </:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item>
                <:label>Bestandsnaam</:label>
                <:content>
                  <AuInput
                    value={{@model.metadata.name}}
                    {{on "input" this.setFileName}}
                    @width="block"
                  />
                </:content>
              </Item>
              <Item>
                <:label>Beschrijving</:label>
                <:content>
                  <AuTextarea
                    value={{@model.metadata.description}}
                    {{on "input" this.setFileDescription}}
                    rows="7"
                    @width="block"
                  />
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item>
                <:label>Aangemaakt op</:label>
                <:content>
                  {{date-format @model.metadata.created true}}
                </:content>
              </Item>
              <Item>
                <:label>Laatst aangepast op</:label>
                <:content>
                  <span class="au-u-italic">Nu</span>
                </:content>
              </Item>
              <Item>
                <:label>Extensie</:label>
                <:content>
                  {{@model.metadata.extension}}
                </:content>
              </Item>
              <Item>
                <:label>Formaat</:label>
                <:content>
                  {{@model.metadata.format}}
                </:content>
              </Item>
              <Item>
                <:label>Grootte</:label>
                <:content>
                  {{file-size-format @model.metadata.size}}
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
        <:action>
          <div class="au-u-flex au-u-flex--spaced-small au-u-flex--end">
            <AuButton
              @skin="secondary"
              {{on "click" this.cancelEdit}}
            >Annuleer</AuButton>
            <AuButton
              @skin="primary"
              type="submit"
              @loading={{this.updateModel.isRunning}}
              @disabled={{or this.updateModel.isRunning (not this.formIsValid)}}
            >Bewaar</AuButton>
          </div>
        </:action>
      </DataCard>
    </form>
  {{else}}
    <DataCard>
      <:header>
        {{#if this.wasPublishedByCurrentOrganization}}
          <AuButton
            @skin="naked"
            @icon="pencil"
            {{on "click" this.toggleEdit}}
          >Wijzig</AuButton>
        {{/if}}
      </:header>
      <:title>
        Metadata
      </:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Bestandsnaam</:label>
              <:content>
                {{@model.metadata.name}}
              </:content>
            </Item>
            <Item>
              <:label>Beschrijving</:label>
              <:content>
                {{or @model.metadata.description "/"}}
              </:content>
            </Item>

          </:left>
          <:right as |Item|>
            <Item>
              <:label>Aangemaakt op</:label>
              <:content>
                {{date-format @model.metadata.created true}}
              </:content>
            </Item>
            <Item>
              <:label>Laatst aangepast op</:label>
              <:content>
                {{date-format @model.metadata.modified true}}
              </:content>
            </Item>
            <Item>
              <:label>Extensie</:label>
              <:content>
                {{@model.metadata.extension}}
              </:content>
            </Item>
            <Item>
              <:label>Formaat</:label>
              <:content>
                {{@model.metadata.format}}
              </:content>
            </Item>
            <Item>
              <:label>Grootte</:label>
              <:content>
                {{file-size-format @model.metadata.size}}
              </:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>
  {{/if}}

  <div class="au-o-grid au-o-grid--tiny au-u-margin-top">
    <div class="au-o-grid__item">
      <AuHeading
        @level="2"
        @skin="4"
        class="au-u-margin-bottom-none"
      >Diagram</AuHeading>
      <p class="au-u-margin-top-none">
        <AuHelpText @skin="secondary">Klik en hou vast om diagram te bewegen.
          Gebruik ctrl en scrollwiel om in en uit te zoomen.</AuHelpText>
      </p>
      <BpmnViewer @bpmnXml={{@model.diagram}} />
    </div>
    <div class="au-o-grid__item">
      <AuHeading
        @level="2"
        @skin="4"
        class="au-u-margin-bottom-small au-u-margin-top"
      >Processtappen</AuHeading>
      <div class="au-c-boxed-table">
        <AuDataTable
          @content={{this.bpmnElements}}
          @isLoading={{this.isLoading}}
          @page={{this.page}}
          @size={{this.size}}
          as |t|
        >
          <t.content class="au-c-data-table__table--small" as |c|>
            <c.header>
              <AuDataTableThSortable
                @field="name"
                @currentSorting={{this.sort}}
                @label="Naam"
              />
              <AuDataTableThSortable @field="type" @label="Type" />
            </c.header>
            {{#if this.hasErrored}}
              <TableMessage::Error />
            {{else if this.hasNoResults}}
              <TableMessage>
                <p>
                  Er werden geen zoekresultaten gevonden.
                </p>
              </TableMessage>
            {{else}}
              <c.body as |element|>
                <td>{{or element.name "/"}}</td>
                <td>{{capitalize-first (or element.type.labelNl "/")}}</td>
              </c.body>
            {{/if}}
          </t.content>
        </AuDataTable>
      </div>
    </div>
  </div>
</AuBodyContainer>

<AuModal
  @modalOpen={{this.replaceModalOpened}}
  @closeModal={{this.closeReplaceModal}}
>
  <:title>Vervang BPMN-bestand</:title>
  <:body>
    <CustomFileUpload
      @accept=".bpmn,.xml"
      @title="Bestand selecteren"
      @helpTextDragDrop="Bestand wordt meteen verwerkt en toegevoegd aan bibliotheek na selectie"
      @onFileId={{this.extractBpmn}}
      @onFinishUpload={{this.fileUploaded}}
    />
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="naked"
        {{on "click" this.closeReplaceModal}}
      >Annuleer</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>