<div ...attributes>
  {{#if (has-block "header")}}
    <div class="au-o-box au-o-box--small au-c-card au-c-card--data">
      <div>
        <div
          class="au-u-flex au-u-flex--between au-u-flex--vertical-center au-u-margin-bottom-tiny"
        >
          <div class="au-u-flex au-u-flex--vertical-center">
            <button
              type="button"
              class="au-u-flex au-u-flex--spaced-tiny"
              {{on "click" this.toggleCollapse}}
            >
              <AuIcon
                @icon={{if this.isCollapsed "chevron-up" "chevron-down"}}
                @size="large"
              />
            </button>
            {{#if (has-block "title")}}
              <AuHeading
                @level={{or @headingLevel "3"}}
                @skin={{or @headingSkin "4"}}
              >
                {{yield to="title"}}
              </AuHeading>
            {{/if}}
          </div>
          {{#unless this.isCollapsed}}
            <div>
              {{yield to="header"}}
            </div>
          {{/unless}}
        </div>
      </div>
      {{#unless this.isCollapsed}}
        <div class="au-u-flex">
          <div class="card-helptext"></div>
          {{! width of the chevron button }}
          <div class="au-u-flex-grow-1 au-u-margin-bottom-small">
            {{yield to="subheader"}}
          </div>
        </div>
        <AuHr @size="default" />
      {{/unless}}

    </div>
  {{/if}}

  {{#unless this.isCollapsed}}
    <dl class="au-o-box au-o-box--small au-c-card au-c-card--data">
      <div class="au-c-card__content">
        {{yield
          (hash
            Grid=(component
              "card-grid" itemComponent=(component "data-card/item" isGrid=true)
            )
            Columns=(component
              "card-columns" itemComponent=(component "data-card/item")
            )
          )
          to="card"
        }}
      </div>
    </dl>
    {{#if (has-block "action")}}
      <div class="au-o-box au-o-box--small au-c-card au-c-card--data">
        {{yield to="action"}}
      </div>
    {{/if}}
  {{/unless}}
</div>