<div ...attributes>
  {{#if (has-block "header")}}
    <div class="au-o-box au-o-box--small au-c-card au-c-card--data">
      <div>
        <div
          class="au-u-flex au-u-flex--between au-u-flex--vertical-center au-u-margin-bottom-tiny"
        >
          <div class="au-u-flex au-u-flex--vertical-center">
            <button
              type="button"
              class="au-u-flex au-u-flex--spaced-tiny au-u-flex--vertical-center"
              {{on "click" this.toggleCollapse}}
            >
              <AuIcon
                @icon={{if this.isCollapsed "chevron-up" "chevron-down"}}
                @size="large"
              />

              {{#if (has-block "title")}}
                <AuHeading
                  @level={{or @headingLevel "3"}}
                  @skin={{or @headingSkin "4"}}
                >
                  {{yield to="title"}}
                </AuHeading>
              {{/if}}
            </button>
          </div>
          {{#unless this.isCollapsed}}
            <div>
              {{yield to="header"}}
            </div>
          {{/unless}}
        </div>
      </div>
      {{#unless this.isCollapsed}}
        {{#if (or (has-block "helpText") (has-block "subheader"))}}
          <div class="au-u-flex">
            {{#if (has-block "helpText")}}
              <div class="helpText">{{yield to="helpText"}}</div>
            {{/if}}
            {{! width of the chevron button }}
            {{#if (has-block "subheader")}}
              <div class="au-u-flex-grow-1 au-u-margin-bottom-small">
                {{yield to="subheader"}}
              </div>
            {{/if}}
          </div>
        {{/if}}
        <AuHr @size="default" class="au-u-margin-top-tiny" />
      {{/unless}}

    </div>
  {{/if}}

  {{#unless this.isCollapsed}}
    <dl class="au-o-box au-o-box--small au-c-card au-c-card--data">
      <div class="au-c-card__content">
        {{yield
          (hash
            Grid=(component
              "card-grid" itemComponent=(component "data-card/item" isGrid=true)
            )
            Columns=(component
              "card-columns" itemComponent=(component "data-card/item")
            )
          )
          to="card"
        }}
      </div>
    </dl>
    {{#if (has-block "action")}}
      <div class="au-o-box au-o-box--small au-c-card au-c-card--data">
        {{yield to="action"}}
      </div>
    {{/if}}
  {{/unless}}
</div>