<div class="icr-score">
  {{#each this.allowedScores as |score|}}
    {{! template-lint-disable no-invalid-interactive }}
    <img
      src={{this.getSvgPath score}}
      alt="Score {{score}}"
      {{on "mouseenter" (fn this.onMouseEnter score)}}
      {{on "mouseleave" this.onMouseLeave}}
      {{on "click" (fn this.onMouseClick score)}}
    />
  {{/each}}
</div>