<div class={{if @error "ember-power-select--error"}}>
  <PowerSelectMultiple
    @searchEnabled="true"
    @searchMessage="Typ om te zoeken"
    @loadingMessage="Aan het laden ..."
    @noMatchesMessage="Geen resultaten"
    @search={{perform this.loadIpdcInstancesTask}}
    @selected={{@selected}}
    @onChange={{@onChange}}
    as |ipdcInstance|
  >
    {{ipdcInstance.nameNl}}
    ({{ipdcInstance.productNumber}})
  </PowerSelectMultiple>
</div>