<div class={{if @error "ember-power-select--error"}} ...attributes>
  <PowerSelect
    {{did-insert this.loadProcessStepTypesTask.perform}}
    @allowClear={{true}}
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @options={{this.types}}
    @selected={{@selected}}
    @onChange={{@onChange}}
    @triggerId={{@id}}
    as |type|
  >
    {{capitalize type.name}}
  </PowerSelect>
</div>