<div class={{if @error "ember-power-select--error"}} ...attributes>
  <PowerSelect
    @allowClear={{true}}
    @searchEnabled={{true}}
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @searchMessage="Typ om te zoeken"
    @options={{this.vendors}}
    @onOpen={{perform this.loadVendors}}
    @selected={{@selected}}
    @onChange={{@onChange}}
    @triggerId={{@id}}
    class="au-u-flex au-u-flex--vertical-center"
    as |vendor|
  >
    <p class="au-u-word-break-all">{{vendor}}</p>
  </PowerSelect>
</div>