<div class={{if @error "ember-power-select--error"}} ...attributes>
  <PowerSelect
    @allowClear={{true}}
    @searchEnabled={{true}}
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @searchMessage="Typ om te zoeken"
    @options={{this.groups}}
    @onOpen={{perform this.loadGroupsTask}}
    @selected={{@selected}}
    @onChange={{@onChange}}
    @classifications={{@classifications}}
    @triggerId={{@id}}
    as |group|
  >
    <p class="au-u-word-break-all">{{group}}</p>
  </PowerSelect>
</div>