<div class={{if @error "ember-power-select--error"}} ...attributes>
  <PowerSelectMultiple
    @searchEnabled={{true}}
    @searchField="searchKeys"
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @options={{this.ipdcProducts}}
    @selected={{@selected}}
    @onChange={{@onChange}}
    @triggerId={{@id}}
    as |ipdcProduct|
  >
    {{language-string-set-nl ipdcProduct.name}}
    ({{ipdcProduct.productNumber}})
  </PowerSelectMultiple>
  <AuHelpText @skin="secondary">Toont enkel producten gelinkt aan een proces</AuHelpText>
</div>