<div class={{if @error "ember-power-select--error"}} ...attributes>
  <PowerSelectMultiple
    @searchEnabled={{true}}
    @searchField="name"
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @options={{this.ipdcProducts}}
    @selected={{@selected}}
    @onChange={{@onChange}}
    @triggerId={{@id}}
    as |ipdcProduct|
  >
    {{ipdcProduct.name}}
  </PowerSelectMultiple>
</div>