{{#let
  (this.fileQueueHelper name=this.queueName onFileAdded=(perform this.upload))
  as |queue|
}}
  <FileDropzone
    @queue={{queue}}
    @filter={{this.filter}}
    class="au-c-file-upload"
    ...attributes
    as |dropzone|
  >
    {{#if dropzone.active}}
      <p class="au-c-file-upload-message">
        <AuIcon @icon="attachment" @alignment="left" />
        <AuHelpText @skin="secondary">Sleep de bestanden naar hier om toe te
          voegen</AuHelpText>
      </p>
    {{else if this.isBusy}}
      <p class="au-c-file-upload-message">
        <small class="au-c-small-text">{{this.uploadingMsg}}
          +
          {{this.onFileToRemove.name}}</small>
      </p>
    {{else}}
      <label>
        <input
          accept={{@accept}}
          multiple={{@multiple}}
          type="file"
          hidden=""
          {{queue.selectFile filter=this.filter}}
        />
        <span class="au-c-file-upload-label">
          <span class="au-c-file-upload-label__title">
            <AuIcon @icon="attachment" @alignment="left" />
            Bestanden toevoegen
          </span>
          {{#if dropzone.supported}}
            <AuHelpText @skin="secondary">Sleep de bestanden naar hier om toe te
              voegen</AuHelpText>
          {{/if}}
        </span>
      </label>
    {{/if}}
  </FileDropzone>
  {{#if @isQueueListShown}}
    <div class="au-u-flex au-u-flex--column">
      <p class="au-u-h4 au-u-margin-top">Opgeladen bestanden</p>
      <AuHr />
      {{#if (eq this.queue.files.length 0)}}
        <p class="au-u-muted">Er werden nog geen bestanden opgeladen</p>
      {{/if}}
      <div>
        {{#each this.queue.files as |fileWrapper|}}
          <div
            class="au-u-flex au-u-flex--between au-u-flex--vertical-center au-u-background-gray-100 border-line-200 border-radius au-u-padding-small au-u-padding-left-tiny au-u-padding-right-tiny au-u-margin-top-tiny au-u-margin-bottom-tiny"
          >
            <p>{{fileWrapper.name}}</p>
            {{#if @canEditFileQueue}}
              <AuButton
                @skin="naked"
                @alert="true"
                {{on "click" (fn this.removeFileFromQueue fileWrapper)}}
              >Verwijder</AuButton>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
{{/let}}