<DataCard>
  <:title>Bijlagen</:title>

  <:header>
    <AuButtonGroup>
      {{#if @canEdit}}
        {{! template-lint-disable require-context-role }}
        <AuDropdown @title="Voeg toe" @skin="secondary" @alignment="center">
          <AuButton
            role="menuitem"
            @icon="link-external"
            @iconAlignment="left"
            @skin="link"
            {{on "click" (fn (mut this.isAddLinkModalOpen) true)}}
          >
            Link
          </AuButton>
          <AuButton
            role="menuitem"
            @icon="file"
            @iconAlignment="left"
            @skin="link"
            {{on "click" this.openAddModal}}
          >
            Bestand
          </AuButton>
        </AuDropdown>
      {{/if}}
      <File::DownloadMultipleAsZip
        @buttonLabel="Download alle bestanden"
        @folderName={{this.attachmentsZipFileName}}
        @files={{this.attachments.value}}
      />
    </AuButtonGroup>
  </:header>

  <:subheader>
    <AuHelpText @skin="secondary">
      Bijlagen kunnen worden toegevoegd om het diagram te verduidelijken in alle
      bestandsformaten, behalve
      <span class="au-u-italic">.bpmn</span>
      en
      <span class="au-u-italic">.vsdx</span>.
    </AuHelpText>
  </:subheader>
  <:card>
    <Process::RelevantLinks
      @process={{@process}}
      @canEdit={{@canEdit}}
      @isAddModalOpen={{this.isAddLinkModalOpen}}
      @onLinkAdded={{fn (mut this.isAddLinkModalOpen) false}}
      @closeModal={{fn (mut this.isAddLinkModalOpen) false}}
    />
    <AuDataTable
      @content={{this.attachments.value}}
      @isLoading={{this.fetchAttachments.isRunning}}
      @hidePagination={{true}}
      @page={{@page}}
      @size={{@size}}
      @sort={{@sort}}
      as |t|
    >
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="name"
            @currentSorting={{@sort}}
            @label="Bestandsnaam"
          />
          <AuDataTableThSortable
            @field="size"
            @currentSorting={{@sort}}
            @label="Grootte"
          />
          <AuDataTableThSortable
            @field="extension"
            @currentSorting={{@sort}}
            @label="Extensie"
          />
          <AuDataTableThSortable
            @field="created"
            @currentSorting={{@sort}}
            @label="Toegevoegd op"
          />
          <th>Gekoppeld aan</th>
          <th></th>
          {{#if @canEdit}}<th></th>{{/if}}
        </c.header>

        {{#if this.getAttachments.isError}}
          <TableMessage::Error />
        {{else if this.attachmentsHaveNoResults}}
          <TableMessage>
            <p>Er werden geen zoekresultaten gevonden.</p>
          </TableMessage>
        {{else}}
          <c.body as |attachment|>
            <td>{{attachment.name}}</td>
            <td>{{file-size-format attachment.size}}</td>
            <td>{{attachment.extension}}</td>
            <td>{{date-format attachment.created true}}</td>
            <td>{{attachment._source}}
              {{#if attachment.informationAssets}}
                {{#each attachment.informationAssets as |icr|}}
                  <AuLink
                    @route="information-assets.information-asset"
                    @model={{icr.id}}
                    @query={{hash
                      process=@process.id
                      parentRoute=this.currentProcessRouteName
                    }}
                  >
                    {{icr.title}}
                  </AuLink>
                {{/each}}

              {{else}}
                <AuLink @route="processes.process" @model={{@process.id}}>
                  {{@process.title}}
                </AuLink>
              {{/if}}
            </td>
            <td>
              <AuButton
                @icon="download"
                @skin="link"
                @width="block"
                @hideText="true"
                {{on "click" (fn this.downloadFile attachment)}}
              >Download</AuButton>
            </td>
            {{#if @canEdit}}
              <td>
                <AuButton
                  @icon="bin"
                  @skin="naked"
                  @alert="true"
                  @width="block"
                  @hideText="true"
                  @disabled={{attachment.informationAsset}}
                  {{on "click" (fn this.openDeleteModal attachment)}}
                >Verwijder</AuButton>
              </td>
            {{/if}}
          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>
    <Shared::TablePagination
      @metadata={{this.filesMeta}}
      @pageQueryParamName="attachmentsPage"
    />
  </:card>
</DataCard>

<FileUploadModal
  @header="Voeg bijlage toe"
  @title="Bestand selecteren"
  @helpTextDragDrop="Bestand wordt meteen toegevoegd aan bibliotheek na selectie"
  @forbidden=".bpmn,.vsdx"
  @multiple="true"
  @updateModel={{this.addFilesToProcess}}
  @onFinishUpload={{this.attachmentsUploaded}}
  @modalOpen={{this.addModalOpened}}
  @closeModal={{this.closeAddModal}}
/>

<AuModal
  @modalOpen={{this.deleteModalOpened}}
  @closeModal={{this.closeDeleteModal}}
>
  <:title>Verwijder {{this.fileToDelete.name}}</:title>
  <:body>Ben je zeker dat je dit bestand uit de bibliotheek wil verwijderen?</:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" this.closeDeleteModal}}
      >Annuleer</AuButton>
      <AuButton
        @skin="primary"
        @icon="bin"
        @alert="true"
        {{on "click" (perform this.deleteFile)}}
      >Verwijder</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>