{{#if this.edit}}
  <form {{on "submit" (perform this.updateModel)}}>
    <DataCard>
      <:title>
        Informatieclassificatie
      </:title>
      <:header>
        <div class="au-u-flex au-u-flex--spaced-small au-u-flex--end">
          <AuButton
            @skin="secondary"
            {{on "click" this.resetModel}}
          >Annuleer</AuButton>
          <AuButton
            @skin="primary"
            type="submit"
            @loading={{this.updateModel.isRunning}}
            @disabled={{or this.updateModel.isRunning (not this.formIsValid)}}
          >Bewaar</AuButton>
        </div>
      </:header>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Informatieassets</:label>
              <:content>
                <Process::IcrCard::AssetsMultipleSelect
                  @selected={{this.activeInformationAssets}}
                  @onChange={{this.setInformationAssets}}
                />
              </:content>
            </Item>
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Motivering of bijkomende informatie</:label>
              <:content>
                <AuTextarea
                  value={{@process.additionalInformation}}
                  {{on "input" (fn this.setProperty "additionalInformation")}}
                  rows="5"
                  @width="block"
                  @error={{this.hasError "additionalInformation"}}
                />
                {{#if (this.hasError "additionalInformation")}}
                  <div class="au-u-error">Mag niet meer dan 3000 karakters
                    bevatten</div>
                {{/if}}
              </:content>
            </Item>
            <Item>
              <:label>Link naar maatregelen</:label>
              <:content>
                <AuInput
                  value={{@process.hasControlMeasure}}
                  {{on "input" (fn this.setProperty "hasControlMeasure")}}
                  @width="block"
                  @error={{this.hasError "hasControlMeasure"}}
                />
                {{#if (this.hasError "hasControlMeasure")}}
                  <div class="au-u-error">Moet URL zijn</div>
                {{/if}}
              </:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>
  </form>
{{else}}
  <DataCard>
    <:title>
      Informatieclassificatie
    </:title>
    <:header>
      {{#if @canEdit}}
        <AuButton
          @skin="naked"
          @icon="pencil"
          {{on "click" this.toggleEdit}}
        >Wijzig</AuButton>
      {{/if}}
    </:header>
    <:card as |Card|>
      <Card.Columns class="au-u-flex au-u-flex--spaced-small au-u-flex--wrap">
        <:left as |Item|>
          <Item>
            <:label>Beschikbaarheid</:label>
            <:content>
              <Shared::TextCompare
                @current={{this.availabilityScore}}
                @old={{this.versionedScores.availabilityScore}}
                @enableHighlighting={{if @versionedProcess true}}
              >
                <Process::IcrCard::Score
                  @selectedScore={{this.availabilityScore}}
                />
              </Shared::TextCompare>
            </:content>
          </Item>
          <Item>
            <:label>Integriteit</:label>
            <:content>
              <Shared::TextCompare
                @current={{this.integrityScore}}
                @old={{this.versionedScores.integrityScore}}
                @enableHighlighting={{if @versionedProcess true}}
              >
                <Process::IcrCard::Score
                  @selectedScore={{this.integrityScore}}
                />
              </Shared::TextCompare>
            </:content>
          </Item>
          <Item>
            <:label>Vertrouwelijkheid</:label>
            <:content>
              <Shared::TextCompare
                @current={{this.confidentialityScore}}
                @old={{this.versionedScores.confidentialityScore}}
                @enableHighlighting={{if @versionedProcess true}}
              >
                <Process::IcrCard::Score
                  @selectedScore={{this.confidentialityScore}}
                />
              </Shared::TextCompare>
            </:content>
          </Item>
          <Item>
            <:label>Persoonsgegevens</:label>
            <:content>
              <div class="au-u-flex au-u-flex--column au-u-flex--spaced-small">
                <div class="width-full">
                  <Shared::TextCompare
                    @current={{this.containsPersonalData}}
                    @old={{this.versionedScores.containsPersonalData}}
                    @enableHighlighting={{if @versionedProcess true}}
                  >
                    <AuCheckbox
                      @checked={{this.containsPersonalData}}
                      @disabled="true"
                    >
                      <label for="contains-personal-data">Professionele gegevens</label>
                      <Shared::Tooltip
                        @show={{true}}
                        @text="Gegevens waarmee een persoon professioneel kan worden bereikt bijvoorbeeld professioneel telefoonnummer/e-mailadres, postadres van de organisatie."
                        @placement="top"
                      >
                        <AuIcon
                          class="color--info"
                          @icon="circle-question"
                          @size="large"
                          @alignment="right"
                        />
                      </Shared::Tooltip>
                    </AuCheckbox>
                  </Shared::TextCompare>
                </div>
                <div class="width-full">
                  <Shared::TextCompare
                    @current={{this.containsProfessionalData}}
                    @old={{this.versionedScores.containsProfessionalData}}
                    @enableHighlighting={{if @versionedProcess true}}
                  >
                    <AuCheckbox
                      @checked={{this.containsProfessionalData}}
                      @disabled="true"
                    >
                      <label
                        for="contains-professional-data"
                      >Persoonsgegevens</label>
                      <Shared::Tooltip
                        @show={{true}}
                        @text="Gegevens die direct of indirect een persoon identificeren bijvoorbeeld geboortedatum, foto, naam, thuisadres."
                      >
                        <AuIcon
                          class="color--info"
                          @icon="circle-question"
                          @size="large"
                          @alignment="right"
                        />
                      </Shared::Tooltip>
                    </AuCheckbox>
                  </Shared::TextCompare>
                </div>
                <div class="width-full">
                  <Shared::TextCompare
                    @current={{this.containsSensitivePersonalData}}
                    @old={{this.versionedScores.containsSensitivePersonalData}}
                    @enableHighlighting={{if @versionedProcess true}}
                  >
                    <AuCheckbox
                      @checked={{this.containsSensitivePersonalData}}
                      @disabled="true"
                    >
                      <label for="contains-sensitive-personal-data">Bijzondere
                        persoonsgegevens</label>
                      <Shared::Tooltip
                        @show={{true}}
                        @text="Gevoelige gegevens die extra bescherming vereisen bijvoorbeeld medische gegevens, religieuze overtuiging, etnische achtergrond, biometrische gegevens."
                      >
                        <AuIcon
                          class="color--info"
                          @icon="circle-question"
                          @size="large"
                          @alignment="right"
                        />
                      </Shared::Tooltip>
                    </AuCheckbox>
                  </Shared::TextCompare>
                </div>
              </div>
            </:content>
          </Item>
        </:left>
        <:right as |Item|>
          <Item>
            <:label>Informatieassets</:label>
            <:content>
              <Shared::TextCompare
                @current={{@process.informationAssets}}
                @old={{@versionedProcess.informationAssets}}
                @enableHighlighting={{if @versionedProcess true}}
              >
                {{#if @process.informationAssets.length}}
                  <div class="au-u-flex au-u-flex--wrap au-u-flex--spaced-tiny">
                    {{#each @process.informationAssets as |asset|}}
                      {{#if (not-eq asset.status this.archivedUri)}}
                        <AuPill
                          class="pointer information-asset-pill"
                          {{on "click" (fn this.editAsset asset)}}
                        >
                          {{asset.title}}
                          {{#if @canEdit}}
                            <AuIcon @icon="pencil" />
                          {{/if}}
                        </AuPill>
                      {{/if}}
                    {{/each}}
                  </div>
                {{else}}
                  /
                {{/if}}
              </Shared::TextCompare>
            </:content>
          </Item>
          <Item>
            <:label>Motivering of bijkomende informatie</:label>
            <:content>
              <Shared::TextCompare
                @current={{@process.additionalInformation}}
                @old={{@versionedProcess.additionalInformation}}
                @enableHighlighting={{if @versionedProcess true}}
              >
                <span class="u-preserve-line-breaks">{{or
                    (trim @process.additionalInformation)
                    "/"
                  }}</span>
              </Shared::TextCompare>
            </:content>
          </Item>
          <Item>
            <:label>Link naar maatregelen</:label>
            <:content>
              <Shared::TextCompare
                @current={{@process.hasControlMeasure}}
                @old={{@versionedProcess.hasControlMeasure}}
                @enableHighlighting={{if @versionedProcess true}}
              >
                {{#if @process.hasControlMeasure}}
                  <AuLinkExternal href="{{@process.hasControlMeasure}}">
                    {{@process.hasControlMeasure}}
                  </AuLinkExternal>
                {{else}}
                  /
                {{/if}}
              </Shared::TextCompare>
            </:content>
          </Item>
          <Item>
            <:label>Gekoppeld aan</:label>
            <:content>
              <Shared::TextCompare
                @current={{this.blueprintUsages}}
                @old={{this.versionedBlueprintUsages}}
                @enableHighlighting={{if @versionedProcess true}}
              >
                {{#if (gt this.blueprintUsages.length 0)}}
                  <ul>
                    {{#each this.blueprintUsages as |usage|}}
                      <li>
                        <AuLinkExternal @newTab={{true}} href={{usage.href}}>
                          {{usage.title}}
                        </AuLinkExternal>
                      </li>
                    {{/each}}
                  </ul>
                {{else}}
                  <p>/</p>
                {{/if}}
              </Shared::TextCompare>
            </:content>
          </Item>
        </:right>
      </Card.Columns>
    </:card>
  </DataCard>
{{/if}}

<Process::IcrModal
  @modalOpen={{this.showIcrModal}}
  @closeModal={{this.closeIcrModal}}
  @process={{@process}}
  @options={{this.informationAssets}}
  @setOptions={{this.setInformationAssets}}
  @selected={{this.selectedAsset}}
/>