{{#if this.edit}}
  <form {{on "submit" (perform this.updateModel)}}>
    <DataCard>
      <:title>
        Informatieclassificatie
      </:title>
      <:header>
        <div class="au-u-flex au-u-flex--spaced-small au-u-flex--end">
          <AuButton
            @skin="secondary"
            {{on "click" this.resetModel}}
          >Annuleer</AuButton>
          <AuButton
            @skin="primary"
            type="submit"
            @loading={{this.updateModel.isRunning}}
            @disabled={{or this.updateModel.isRunning (not this.formIsValid)}}
          >Bewaar</AuButton>
        </div>
      </:header>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Informatieassets</:label>
              <:content>
                <Process::IcrCard::AssetsMultipleSelect
                  @selected={{this.informationAssets}}
                  @onChange={{this.setInformationAssets}}
                />
              </:content>
            </Item>
          </:left>
        </Card.Columns>
      </:card>
    </DataCard>
  </form>
{{else}}
  <DataCard>
    <:title>
      Informatieclassificatie
    </:title>
    <:header>
      {{#if @canEdit}}
        <AuButton
          @skin="naked"
          @icon="pencil"
          {{on "click" this.toggleEdit}}
        >Wijzig</AuButton>
      {{/if}}
    </:header>
    <:card as |Card|>
      <Card.Columns class="au-u-flex au-u-flex--spaced-small au-u-flex--wrap">
        <:left as |Item|>
          {{#unless this.showIcrModal}}
            <Item>
              <:label>Beschikbaarheid</:label>
              <:content>
                <Process::IcrCard::Score
                  @selectedScore={{this.availabilityScore}}
                />
              </:content>
            </Item>
            <Item>
              <:label>Integriteit</:label>
              <:content>
                <Process::IcrCard::Score
                  @selectedScore={{this.integrityScore}}
                />
              </:content>
            </Item>
            <Item>
              <:label>Vertrouwelijkheid</:label>
              <:content>
                <Process::IcrCard::Score
                  @selectedScore={{this.confidentialityScore}}
                />
              </:content>
            </Item>
          {{/unless}}
          <Item>
            <:label>Persoonsgegevens</:label>
            <:content>
              <div class="au-u-flex au-u-flex--column au-u-flex--spaced-small">
                <AuCheckbox
                  @checked={{this.containsPersonalData}}
                  @disabled="true"
                >
                  <label for="contains-personal-data">Professionele gegevens</label>
                  <Shared::Tooltip
                    @show={{true}}
                    @text="Gegevens waarmee een persoon professioneel kan worden bereikt bijvoorbeeld professioneel telefoonnummer/e-mailadres, postadres van de organisatie."
                    @placement="top"
                  >
                    <AuIcon
                      class="color--info"
                      @icon="circle-question"
                      @size="large"
                      @alignment="right"
                    />
                  </Shared::Tooltip>
                </AuCheckbox>
                <AuCheckbox
                  @checked={{this.containsProfessionalData}}
                  @disabled="true"
                >
                  <label
                    for="contains-professional-data"
                  >Persoonsgegevens</label>
                  <Shared::Tooltip
                    @show={{true}}
                    @text="Gegevens die direct of indirect een persoon identificeren bijvoorbeeld geboortedatum, foto, naam, thuisadres."
                  >
                    <AuIcon
                      class="color--info"
                      @icon="circle-question"
                      @size="large"
                      @alignment="right"
                    />
                  </Shared::Tooltip>
                </AuCheckbox>
                <AuCheckbox
                  @checked={{this.containsSensitivePersonalData}}
                  @disabled="true"
                >
                  <label for="contains-sensitive-personal-data">Bijzondere
                    persoonsgegevens</label>
                  <Shared::Tooltip
                    @show={{true}}
                    @text="Gevoelige gegevens die extra bescherming vereisen bijvoorbeeld medische gegevens, religieuze overtuiging, etnische achtergrond, biometrische gegevens."
                  >
                    <AuIcon
                      class="color--info"
                      @icon="circle-question"
                      @size="large"
                      @alignment="right"
                    />
                  </Shared::Tooltip>
                </AuCheckbox>
              </div>
            </:content>
          </Item>
        </:left>
        <:right as |Item|>
          <Item>
            <:label>Informatieassets</:label>
            <:content>
              {{#if @process.informationAssets.length}}
                <div class="au-u-flex au-u-flex--wrap au-u-flex--spaced-tiny">
                  {{#each @process.informationAssets as |asset|}}
                    <AuPill
                      class="pointer information-asset-pill"
                      {{on "click" (fn this.openIcrModal asset)}}
                    >
                      {{asset.title}}
                      <AuIcon @icon="pencil" />
                    </AuPill>
                  {{/each}}
                </div>
              {{else}}
                /
              {{/if}}
            </:content>
          </Item>
          <Item>
            <:label>Gekoppeld aan</:label>
            <:content>
              {{#if (gt this.blueprintUsages.length 0)}}
                <ul>
                  {{#each this.blueprintUsages as |usage|}}
                    <li>
                      <AuLinkExternal @newTab={{true}} href={{usage.href}}>
                        {{usage.title}}
                      </AuLinkExternal>
                    </li>
                  {{/each}}
                </ul>
              {{else}}
                <p>/</p>
              {{/if}}
            </:content>
          </Item>
        </:right>
      </Card.Columns>
    </:card>
  </DataCard>
{{/if}}

<Process::IcrModal
  @modalOpen={{this.showIcrModal}}
  @closeModal={{this.closeIcrModal}}
  @process={{@process}}
  @options={{this.informationAssets}}
  @setOptions={{this.setInformationAssets}}
  @selected={{this.selectedAsset}}
/>