{{#if this.edit}}
  <form {{on "submit" (perform this.updateModel)}}>
    <DataCard>
      <:title>
        Informatieclassificatie
      </:title>
      <:header>
        <div class="au-u-flex au-u-flex--spaced-small au-u-flex--end">
          <AuButton
            @skin="secondary"
            {{on "click" this.resetModel}}
          >Annuleer</AuButton>
          <AuButton
            @skin="primary"
            type="submit"
            @loading={{this.updateModel.isRunning}}
            @disabled={{or this.updateModel.isRunning (not this.formIsValid)}}
          >Bewaar</AuButton>
        </div>
      </:header>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Beschikbaarheid</:label>
              <:content>
                <Process::IcrCard::Score
                  @selectedScore={{@process.availabilityScore}}
                  @onScoreChange={{this.setAvailabilityScore}}
                />
              </:content>
            </Item>
            <Item>
              <:label>Integriteit</:label>
              <:content>
                <Process::IcrCard::Score
                  @selectedScore={{@process.integrityScore}}
                  @onScoreChange={{this.setIntegrityScore}}
                />
              </:content>
            </Item>
            <Item>
              <:label>Vertrouwelijkheid</:label>
              <:content>
                <Process::IcrCard::Score
                  @selectedScore={{@process.confidentialityScore}}
                  @onScoreChange={{this.setConfidentialityScore}}
                />
              </:content>
            </Item>
            <Item>
              <:label>Persoonsgegevens</:label>
              <:content>
                <div
                  class="au-u-flex au-u-flex--column au-u-flex--spaced-small"
                >
                  <AuToggleSwitch
                    @checked={{@process.containsPersonalData}}
                    @onChange={{this.setContainsPersonalData}}
                  />
                  {{#if @process.containsPersonalData}}
                    <AuCheckbox
                      @checked={{@process.containsProfessionalData}}
                      @onChange={{this.setContainsProfessionalData}}
                      @disabled={{@process.containsSensitivePersonalData}}
                    >
                      Professionele gegevens
                    </AuCheckbox>
                    <AuCheckbox
                      @checked={{@process.containsSensitivePersonalData}}
                      @onChange={{this.setContainsSensitivePersonalData}}
                    >
                      Bijzondere persoonsgegevens
                    </AuCheckbox>
                  {{/if}}
                </div>
              </:content>
            </Item>
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Motivering of bijkomende informatie</:label>
              <:content>
                <AuTextarea
                  value={{@process.additionalInformation}}
                  {{on "input" this.setAdditionalInformation}}
                  rows="5"
                  @width="block"
                />
              </:content>
            </Item>
            <Item>
              <:label>Informatieassets</:label>
              <:content>
                <Process::IcrCard::AssetsMultipleSelect
                  @selected={{this.draftInformationAssets}}
                  @onChange={{this.setDraftInformationAssets}}
                />
              </:content>
            </Item>
            <Item>
              <:label>Link naar maatregelen</:label>
              <:content>
                <AuInput
                  value={{@process.hasControlMeasure}}
                  {{on "input" this.setControlMeasure}}
                  @width="block"
                />
              </:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>
  </form>
{{else}}
  <DataCard>
    <:title>
      Informatieclassificatie
    </:title>
    <:header>
      {{#if @canEdit}}
        <AuButton
          @skin="naked"
          @icon="pencil"
          {{on "click" this.toggleEdit}}
        >Wijzig</AuButton>
      {{/if}}
    </:header>
    <:card as |Card|>
      <Card.Columns>
        <:left as |Item|>
          <Item>
            <:label>Beschikbaarheid</:label>
            <:content>
              <Process::IcrCard::Score
                @selectedScore={{@process.availabilityScore}}
              />
            </:content>
          </Item>
          <Item>
            <:label>Integriteit</:label>
            <:content>
              <Process::IcrCard::Score
                @selectedScore={{@process.integrityScore}}
              />
            </:content>
          </Item>
          <Item>
            <:label>Vertrouwelijkheid</:label>
            <:content>
              <Process::IcrCard::Score
                @selectedScore={{@process.confidentialityScore}}
              />
            </:content>
          </Item>
          <Item>
            <:label>Persoonsgegevens</:label>
            <:content>
              <div class="au-u-flex au-u-flex--column au-u-flex--spaced-small">
                <AuToggleSwitch
                  @checked={{@process.containsPersonalData}}
                  @disabled="true"
                />
                {{#if @process.containsPersonalData}}
                  <AuCheckbox
                    @checked={{@process.containsProfessionalData}}
                    @disabled="true"
                  >
                    Professionele gegevens
                  </AuCheckbox>
                  <AuCheckbox
                    @checked={{@process.containsSensitivePersonalData}}
                    @disabled="true"
                  >
                    Bijzondere persoonsgegevens
                  </AuCheckbox>
                {{/if}}
              </div>
            </:content>
          </Item>
        </:left>
        <:right as |Item|>
          <Item>
            <:label>Motivering of bijkomende informatie</:label>
            <:content>{{or @process.additionalInformation "/"}}</:content>
          </Item>
          <Item>
            <:label>Informatieassets</:label>
            <:content>
              {{#if this.informationAssets.length}}
                <div class="au-u-flex au-u-flex--wrap au-u-flex--spaced-tiny">
                  {{#each this.informationAssets as |asset|}}
                    <AuPill>{{asset.label}}</AuPill>
                  {{/each}}
                </div>
              {{else}}
                /
              {{/if}}
            </:content>
          </Item>
          <Item>
            <:label>Link naar maatregelen</:label>
            <:content>
              {{#if @process.hasControlMeasure}}
                <AuLinkExternal href="{{@process.hasControlMeasure}}">
                  {{@process.hasControlMeasure}}
                </AuLinkExternal>
              {{else}}
                /
              {{/if}}
            </:content>
          </Item>
        </:right>
      </Card.Columns>
    </:card>
  </DataCard>
{{/if}}