<DataCard>
  <:title>
    Link met procesinventaris
  </:title>
  <:header>
    {{#if (and @canEdit (not this.edit))}}
      <AuButton
        @skin="naked"
        @icon="pencil"
        {{on "click" this.toggleEdit}}
      >Wijzig</AuButton>
    {{/if}}
    {{#if this.edit}}
      <AuButton
        @skin="secondary"
        {{on "click" this.resetModel}}
      >Annuleer</AuButton>
    {{/if}}
  </:header>
  <:card as |Card|>
    <Card.Columns>
      <:left as |Item|>
        <Item>
          <:label>Gelinkt proces</:label>
          <:content>
            {{#if this.edit}}
              {{#if @process.linkedConcept}}
                <Shared::TextCompare
                  @current={{this.processConceptTitle}}
                  @old={{this.versionedProcessConceptTitle}}
                  @enableHighlighting={{if @versionedProcess true}}
                >
                  {{this.processConceptTitle}}
                </Shared::TextCompare>
                <AuButton
                  @skin="naked"
                  {{on "click" this.openConceptModal}}
                  class="process-change-button"
                >
                  Wijzig
                </AuButton>
              {{else}}
                <AuButton
                  @skin="secondary"
                  {{on "click" this.openConceptModal}}
                  class="process-change-button"
                >Een proces selecteren</AuButton>
              {{/if}}
            {{else}}
              <div class="au-u-flex au-u-flex--row">
                <div class="au-u-flex au-u-vertical-center">
                  <Shared::TextCompare
                    @current={{this.processConceptTitle}}
                    @old={{this.versionedProcessConceptTitle}}
                    @enableHighlighting={{if @versionedProcess true}}
                  >
                    {{this.processConceptTitle}}
                  </Shared::TextCompare>
                  {{#if this.linkedProcessWarnText}}
                    <Shared::Tooltip
                      @show={{true}}
                      @text={{this.linkedProcessWarnText}}
                    >
                      <AuIcon
                        class="color--warning"
                        @icon="alert-triangle"
                        @size="large"
                        @alignment="right"
                      />
                    </Shared::Tooltip>
                  {{/if}}
                </div>
                <AuButton @skin="naked" class="process-change-button" />
              </div>
            {{/if}}
          </:content>
        </Item>
      </:left>
      <:right as |Item|>
        <Item>
          <:label>Procesgroep</:label>
          <:content>
            <Shared::TextCompare
              @current={{this.processGroupLabel}}
              @old={{this.versionedProcessGroupLabel}}
              @enableHighlighting={{if @versionedProcess true}}
            >
              {{this.processGroupLabel}}
            </Shared::TextCompare>
          </:content>
        </Item>
        <Item>
          <:label>Procesdomein</:label>
          <:content>
            <Shared::TextCompare
              @current={{this.processDomainLabel}}
              @old={{this.versionedProcessDomainLabel}}
              @enableHighlighting={{if @versionedProcess true}}
            >
              {{this.processDomainLabel}}
            </Shared::TextCompare>
          </:content>
        </Item>
        <Item>
          <:label>Procescategorie</:label>
          <:content>
            <Shared::TextCompare
              @current={{this.processCategoryLabel}}
              @old={{this.versionedProcessCategoryLabel}}
              @enableHighlighting={{if @versionedProcess true}}
            >
              {{this.processCategoryLabel}}
            </Shared::TextCompare>
          </:content>
        </Item>
      </:right>
    </Card.Columns>
  </:card>
</DataCard>

<Process::InventoryProcessCard::Popup
  @openModal={{this.conceptModalOpened}}
  @closeModal={{this.closeConceptModal}}
  @process={{@process}}
  @isEditing={{this.edit}}
/>