{{#if this.edit}}
  <DataCard>
    <:title>
      Link met procesinventaris
    </:title>
    <:header>
      <div class="au-u-flex au-u-flex--spaced-small au-u-flex--end">
        <AuButton
          @skin="secondary"
          {{on "click" this.resetModel}}
        >Annuleer</AuButton>
      </div>
    </:header>
    <:card as |Card|>
      <Card.Columns>
        <:left as |Item|>
          <Item>
            <:label>Gelinkt proces</:label>
            <:content>
              <div class="au-u-flex au-u-flex--vertical-center">
                {{#if @process.linkedConcept}}
                  {{@process.linkedConcept.title}}
                  <AuButton
                    @skin="naked"
                    class="change-process-concept-button"
                    {{on "click" this.openConceptModal}}
                  >Veranderen</AuButton>
                {{else}}
                  <AuButton
                    @skin="secondary"
                    class="change-process-concept-button"
                    {{on "click" this.openConceptModal}}
                  >Een proces selecteren</AuButton>
                {{/if}}
              </div>
            </:content>
          </Item>

        </:left>
      </Card.Columns>
    </:card>
  </DataCard>

  <Process::InventoryProcessCard::Popup
    @openModal={{this.conceptModalOpened}}
    @closeModal={{this.closeConceptModal}}
    @process={{@process}}
    @isEditing={{this.edit}}
  />

{{else}}
  <DataCard>
    <:title>
      Link met procesinventaris
    </:title>
    <:header>
      {{#unless this.currentSession.readOnly}}
        <AuButton
          @skin="naked"
          @icon="pencil"
          {{on "click" this.toggleEdit}}
        >Wijzig</AuButton>
      {{/unless}}
    </:header>
    <:card as |Card|>
      <Card.Columns>
        <:left as |Item|>
          <Item>
            <:label>Gelinkt proces</:label>
            <:content>
              {{@process.linkedConcept.title}}
            </:content>
          </Item>

        </:left>
      </Card.Columns>
    </:card>
  </DataCard>
{{/if}}