<AuList @divider={{true}} class="au-u-margin-bottom" as |Item|>
  {{#each this.relevantLinks as |link|}}
    <Item>
      <div
        class="au-u-padding-left show-element-on-hover au-u-flex au-u-flex--between"
      >
        <AuLinkExternal
          href={{link.href}}
          @icon="external-link"
          @iconAlignment="right"
          @newTab={{true}}
        >
          {{link.displayLabel}}
        </AuLinkExternal>
        {{#if @canEdit}}
          <AuButtonGroup
            @inline={{true}}
            class="show-element-on-hover--element"
          >
            <AuButton
              @icon="pencil"
              @skin="naked"
              @size="large"
              {{on "click" (fn this.openEditModal link)}}
            />
            <AuButton
              @icon="bin"
              @skin="naked"
              @size="large"
              @alert={{true}}
              {{on "click" (fn this.openDeleteModal link)}}
            />
          </AuButtonGroup>
        {{/if}}
      </div>
    </Item>
  {{/each}}
</AuList>

<AuModal @modalOpen={{@isAddModalOpen}} @closeModal={{this.closeAddModal}}>
  <:title>Voeg link toe</:title>
  <:body>
    <p>Voeg een link toe die relevant is voor dit proces. Kies een label voor
      meer context. Laat je deze leeg, dan wordt de link getoond.
    </p>
    <div class="au-u-margin-top">
      <AuLabel @error={{not this.isLabelValid}} for="relevant-link-label">
        Label
      </AuLabel>
      <AuInput
        @error={{not this.isLabelValid}}
        @width="block"
        value={{this.labelValue}}
        id="relevant-link-label"
        {{on "keyup" this.updateLabelValue}}
      />
    </div>
    <div class="au-u-margin-top">
      <AuLabel
        @required={{true}}
        @error={{not this.isLinkValid}}
        for="relevant-link"
      >
        Link
      </AuLabel>
      <AuInput
        @error={{not this.isLinkValid}}
        @width="block"
        value={{this.linkValue}}
        id="relevant-link"
        {{on "keyup" this.updateLinkValue}}
      />
    </div>
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" this.closeAddModal}}
      >Annuleer</AuButton>
      <AuButton
        @icon="plus"
        @disabled={{not this.canSaveChanges}}
        @loading={{this.isExecutingAction}}
        @loadingMessage="Link toevoegen"
        {{on "click" this.addLink}}
      >Voeg toe</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.isEditModalOpen}}
  @closeModal={{fn (mut this.isEditModalOpen) false}}
>
  <:title>Pas link aan</:title>
  <:body>
    <p>Pas de link aan naar een aangepast waarde.</p>
    <div class="au-u-margin-top">
      <AuLabel @error={{not this.isLabelValid}} for="edit-relevant-link-label">
        Label
      </AuLabel>
      <AuInput
        @error={{not this.isLabelValid}}
        @width="block"
        value={{this.labelValue}}
        id="edit-relevant-link-label"
        {{on "keyup" this.updateLabelValue}}
      />
    </div>
    <div class="au-u-margin-bottom">
      <AuLabel @error={{not this.isLinkValid}} for="editrelevant-link">
        Link
      </AuLabel>
      <AuInput
        @error={{not this.isLinkValid}}
        @width="block"
        value={{this.linkValue}}
        id="edit-relevant-link"
        {{on "keyup" this.updateLinkValue}}
      />
    </div>
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" this.closeEditModal}}
      >Annuleer</AuButton>
      <AuButton
        @icon="pencil"
        @disabled={{not this.canUpdateChanges}}
        @loading={{this.isExecutingAction}}
        @loadingMessage="Link aanpassen"
        {{on "click" this.updateLink}}
      >Update</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.isDeleteModalOpen}}
  @closeModal={{fn (mut this.isDeleteModalOpen) false}}
>
  <:title>Verwijder link</:title>
  <:body>
    <p>Ben je zeker dat je de link "{{this.updateLinkModel.displayLabel}}" wil
      verwijderen?</p>
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" (fn (mut this.isDeleteModalOpen) false)}}
      >Annuleer</AuButton>
      <AuButton
        @icon="trash"
        @alert={{true}}
        @disabled={{this.isExecutingAction}}
        @loading={{this.isExecutingAction}}
        @loadingMessage="Link verwijderen"
        {{on "click" this.deleteLink}}
      >Verwijder</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>