{{#unless (eq this.relevantLinks.length 0)}}
  <AuList @divider={{true}} class="au-u-margin-bottom" as |Item|>
    {{#each this.relevantLinks as |link|}}
      <Item>
        <div
          class="au-u-padding-left show-element-on-hover au-u-flex au-u-flex--between"
        >
          <AuLinkExternal
            href={{link.href}}
            @icon="external-link"
            @iconAlignment="right"
            @newTab={{true}}
          >
            {{link.displayLabel}}
          </AuLinkExternal>
          <AuButtonGroup
            @inline={{true}}
            class="show-element-on-hover--element"
          >
            <AuButton
              @icon="pencil"
              @skin="naked"
              @size="large"
              {{!-- {{on "click" this.editInventoryProcess}} --}}
            />
            <AuButton
              @icon="bin"
              @skin="naked"
              @size="large"
              @alert={{true}}
              {{on "click" (fn this.openDeleteModal link)}}
            />
          </AuButtonGroup>
        </div>
      </Item>
    {{/each}}
    {{#if @canEdit}}
      <Item class="au-u-padding-left-small">
        <AuButton @skin="naked" {{on "click" this.openAddModal}}>
          Voeg een link toe
        </AuButton>
      </Item>
    {{/if}}
  </AuList>
{{/unless}}

<AuModal
  @modalOpen={{this.isAddModalOpen}}
  @closeModal={{fn (mut this.isAddModalOpen) false}}
>
  <:title>Voeg link toe</:title>
  <:body>
    <p class="au-u-margin-bottom">Voeg een link toe die relevant is aan dit
      proces.</p>
    <AuLabel @error={{not this.inputIsValid}} for="relevant-link">
      Link
    </AuLabel>
    <AuInput
      @error={{not this.inputIsValid}}
      @width="block"
      value={{this.linkValue}}
      id="relevant-link"
      {{on "keyup" this.updateLinkValue}}
    />
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" (fn (mut this.isAddModalOpen) false)}}
      >Annuleer</AuButton>
      <AuButton
        @icon="plus"
        @disabled={{not this.canSaveChanges}}
        {{on "click" this.addLink}}
      >Voeg toe</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.isDeleteModalOpen}}
  @closeModal={{fn (mut this.isDeleteModalOpen) false}}
>
  <:title>Voeg link toe</:title>
  <:body>
    <p>Bent u zeker dat u de link
      <a href={{this.updateLink.href}}> {{this.updateLink.displayLabel}}</a>
      wilt verwijderen?</p>
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" (fn (mut this.isDeleteModalOpen) false)}}
      >Annuleer</AuButton>
      <AuButton
        @icon="trash"
        @alert={{true}}
        {{on "click" this.deleteLink}}
      >Verwijder</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>