<div class={{if @error "ember-power-select--error"}} ...attributes>
  <PowerSelectMultiple
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @options={{this.relevantAdministrativeUnits}}
    @selected={{@selected}}
    @onChange={{@onChange}}
    @triggerId={{@id}}
    @disabled={{@disabled}}
    as |unit|
  >
    {{unit.label}}
  </PowerSelectMultiple>
</div>