<AuModal class="process-wizard-modal" @modalOpen={{true}} @closable={{true}}>
  <:title>
    {{this.activeStep.title}}
  </:title>
  <:body>
    {{#if (eq this.activeStepIndex 0)}}
      <File::Dropzone
        @multiple={{true}}
        @accept=".bpmn,.vsdx"
        @onFileUploaded={{this.addFileToUploadedList}}
        @isQueueListShown={{true}}
        @canEditFileQueue={{true}}
      />
    {{/if}}
    {{#if (eq this.activeStepIndex 1)}}
      {{#if this.isCreatingFiles}}
        <p class="au-u-muted">{{this.uploadFileMessage}}</p>
      {{/if}}
      {{#if this.areFilesCreated}}
        <AuLabel
          @required={{true}}
          class="au-u-margin-top"
        >Hoofddiagram</AuLabel>
        <PowerSelect
          @searchEnabled={{true}}
          @searchField="name"
          @loadingMessage="Aan het laden..."
          @noMatchesMessage="Geen bestanden gevonden"
          @options={{this.files}}
          @selected={{this.mainProcessFile}}
          @onChange={{this.setMainProcessFile}}
          @allowClear={{false}}
          as |file|
        >
          {{file.name}}
        </PowerSelect>
      {{/if}}
    {{/if}}
  </:body>
  <:footer>
    <AuToolbar as |Group|>
      <Group class="flex-grow">
        {{#if
          (not
            (or
              this.activeStep.isFirstStep
              (not this.activeStep.canGoToPreviousStep)
            )
          )
        }}
          <AuButton {{on "click" this.previousStep}} @skin="secondary">
            Vorige
          </AuButton>
        {{/if}}
      </Group>
      <Group>
        <AuButton
          {{on "click" this.nextStep}}
          @disabled={{not this.activeStep.canGoToNextStep}}
        >
          {{this.activeStep.nextStepButtonLabel}}
        </AuButton>
      </Group>
    </AuToolbar>
  </:footer>
</AuModal>