<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <form
          {{on "reset" this.resetFilters}}
          class="au-o-box au-o-box--small au-o-flow au-o-flow--small"
        >
          <div>
            <AuLabel for="filter-title">Filter op titel of beschrijving</AuLabel>
            <ProcessSelectByTitle
              @id="filter-title"
              @selected={{this.title}}
              @onChange={{this.setTitle}}
              @publisher={{this.currentSession.group.id}}
              class="grow"
            />
          </div>
          <div>
            <AuButton
              @icon="undo"
              @skin="link"
              type="reset"
              class="au-u-padding-none"
            >
              Herstel alle filters
            </AuButton>
          </div>
        </form>
      </div>
    </div>
  </:sidebar>
  <:content>
    <PageHeader>
      <:title>Gedeelde processen</:title>
      <:subtitle>
        {{! 
          TODO: Reintroduce when help page gets content
          }}
        {{! <AuLink @route="help" @skin="secondary" @icon="circle-info">Over BPMN
          bestanden</AuLink> }}
      </:subtitle>
      <:action>
        <AuButton {{on "click" this.openUploadModal}}>Voeg proces toe</AuButton>
      </:action>
    </PageHeader>

    <AuDataTable
      @content={{this.processes}}
      @isLoading={{this.isLoading}}
      @page={{this.page}}
      @size={{this.size}}
      as |t|
    >
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="title"
            @currentSorting={{this.sort}}
            @label="Titel"
          />
          <AuDataTableThSortable
            @field="description"
            @currentSorting={{this.sort}}
            @label="Beschrijving"
          />
          <AuDataTableThSortable
            @field="created"
            @currentSorting={{this.sort}}
            @label="Aangemaakt op"
          />
          <AuDataTableThSortable
            @field="modified"
            @currentSorting={{this.sort}}
            @label="Laatst aangepast op"
          />
          <th></th>
        </c.header>
        {{#if this.hasErrored}}
          <TableMessage::Error />
        {{else if this.hasNoResults}}
          <TableMessage>
            <p>
              Er werden geen zoekresultaten gevonden.
            </p>
          </TableMessage>
        {{else}}
          <c.body as |process|>
            <td>
              <LinkTo
                class="au-c-link"
                @model={{process.id}}
                @route="processes.process"
              >
                {{process.title}}
              </LinkTo>
            </td>
            <td>{{or (truncate process.description 150 true) "/"}}</td>
            <td>{{date-format process.created}}</td>
            <td>{{date-format process.modified}}</td>
            <td>
              <AuButton
                @icon="bin"
                @skin="naked"
                @alert="true"
                @width="block"
                {{on "click" (fn this.openDeleteModal process)}}
              />
            </td>
          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>
  </:content>
</SidebarContainer>

<AuModal
  @modalOpen={{this.uploadModalOpened}}
  @closeModal={{this.closeUploadModal}}
>
  <:title>Voeg proces toe</:title>
  <:body>
    <CustomFileUpload
      @accept=".bpmn"
      @title="BPMN-bestand selecteren"
      @helpTextDragDrop="Bestand wordt meteen verwerkt en toegevoegd aan bibliotheek na selectie"
      @createProcess={{this.createProcess}}
      @extractBpmnElements={{this.extractBpmnElements}}
      @onFinishUpload={{this.bpmnFileUploaded}}
    />
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" this.closeUploadModal}}
      >Annuleer</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.deleteModalOpened}}
  @closeModal={{this.closeDeleteModal}}
>
  <:title>Verwijder {{this.processToDelete.title}}</:title>
  <:body>Ben je zeker dat je dit proces en al haar processtappen uit de
    bibliotheek wil verwijderen?</:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" this.closeDeleteModal}}
      >Annuleer</AuButton>
      <AuButton
        @skin="primary"
        @icon="bin"
        @alert="true"
        {{on "click" (perform this.deleteProcess)}}
      >Verwijder</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>