<AuModal
  @modalOpen={{@openModal}}
  @closeModal={{@closeModal}}
  @closable={{false}}
  @padding="none"
>
  <:title>Een proces selecteren</:title>
  <:body>
    <form
      {{on "reset" this.resetFilters}}
      {{on "submit" (perform this.updateModel)}}
      id="process-concept-selection-form"
    >
      <SidebarContainer>
        <:sidebar>
          <div class="au-c-sidebar">
            <div class="au-c-sidebar__content">
              <div
                class="au-o-box au-o-box--small au-o-flow au-o-flow--small au-u-padding"
              >
                <div
                  class="au-u-flex au-u-flex--between au-u-flex--vertical-center"
                >
                </div>
                <div>
                  <AuLabel for="filter-title">Titel</AuLabel>
                  <AuInput
                    @value={{this.filterTitle}}
                    {{on "input" this.updateFilterTitle}}
                  />
                </div>
                <div>
                  <AuLabel>Categorie</AuLabel>
                  <PowerSelect
                    @allowClear={{false}}
                    @searchEnabled={{false}}
                    @loadingMessage="Aan het laden..."
                    @noMatchesMessage="Geen resultaten"
                    @searchMessage="Typ om te zoeken"
                    @selected={{this.filterCategory}}
                    @options={{this.processCategories}}
                    @onChange={{this.updateFilterCategory}}
                    as |category|
                  >
                    {{category}}
                  </PowerSelect>
                </div>
                <div>
                  <AuLabel for="filter-group">Procesdomein</AuLabel>
                  <PowerSelect
                    @allowClear={{false}}
                    @searchEnabled={{true}}
                    @loadingMessage="Aan het laden..."
                    @noMatchesMessage="Geen resultaten"
                    @searchMessage="Typ om te zoeken"
                    @searchField="label"
                    @selected={{this.filterDomain}}
                    @options={{this.processDomains}}
                    @onChange={{this.updateFilterDomain}}
                    as |domain|
                  >
                    {{domain}}
                  </PowerSelect>
                </div>
                <div>
                  <AuLabel>Procesgroep</AuLabel>
                  <PowerSelect
                    @allowClear={{false}}
                    @searchEnabled={{true}}
                    @loadingMessage="Aan het laden..."
                    @noMatchesMessage="Geen resultaten"
                    @searchMessage="Typ om te zoeken"
                    @searchField="title"
                    @selected={{this.filterGroup}}
                    @options={{this.processGroups}}
                    @onChange={{this.updateFilterGroup}}
                    as |group|
                  >
                    {{group}}
                  </PowerSelect>
                </div>
                <div>
                  <AuLabel>Nummer</AuLabel>
                  <AuInput
                    @value={{this.filterNumber}}
                    {{au-inputmask options=(hash mask="9999" placeholder="")}}
                    {{on "input" this.updateFilterNumber}}
                  />
                </div>
                <div class="au-u-flex au-u-flex--end">
                  <AuButton
                    @icon="cross"
                    @skin="link"
                    type="reset"
                    class="au-u-padding-none au-u-medium"
                    {{on "click" this.resetFilters}}
                  >
                    Herstel alle filters
                  </AuButton>
                </div>
              </div>
            </div>
          </div>
        </:sidebar>
        <:content>
          {{#if this.isLoading}}
            <div class="au-u-flex au-u-flex--vertical-center au-u-flex--center">
              <AuLoader @centered={{true}}>{{this.loadingMessage}}</AuLoader>
            </div>
          {{else if this.noResultsFound}}
            <div class="au-u-flex au-u-flex--center au-u-flex--vertial-center">
              <p>
                Er werden geen zoekresultaten gevonden.
              </p>
            </div>
          {{else}}
            <div class="process-modal-table-wrapper">
              <AuTable @size={{this.size}} class="process-modal-table">
                <:body>
                  {{#each this.processConcepts as |process|}}
                    <tr
                      class="process-modal-row
                        {{if
                          (eq process this.selectedProcessConcept)
                          'is-selected'
                        }}"
                    >
                      <td>
                        <AuLink
                          class="process-modal-link"
                          {{on "click" (fn this.selectProcessConcept process)}}
                        >
                          {{process.title}}
                        </AuLink>
                      </td>
                    </tr>
                  {{/each}}
                </:body>
              </AuTable>
            </div>
            {{#if this.hasMore}}
              <div class="au-u-margin-top">
                <AuButton
                  @loading={{this.loadMoreTask.isRunning}}
                  {{on "click" (perform this.loadMoreTask)}}
                >
                  Meer laden
                </AuButton>
              </div>
            {{/if}}
          {{/if}}
        </:content>
      </SidebarContainer>
    </form>
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" this.resetModel}}
      >Annuleer</AuButton>
      <AuButton
        type="submit"
        form="process-concept-selection-form"
        @skin="primary"
        @disabled={{this.saveButtonDisabled}}
      >Proces selecteren</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>