<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <form
          {{on "reset" this.resetFilters}}
          class="au-o-box au-o-box--small au-o-flow au-o-flow--small"
        >
          <div>
            <AuLabel for="filter-name">Filter op naam of beschrijving</AuLabel>
            <BpmnFileSelectByName
              @id="filter-name"
              @selected={{this.name}}
              @onChange={{this.setName}}
              class="grow"
            />
          </div>
          <div>
            <AuButton
              @icon="undo"
              @skin="link"
              type="reset"
              class="au-u-padding-none"
            >
              Herstel alle filters
            </AuButton>
          </div>
        </form>
      </div>
    </div>
  </:sidebar>
  <:content>
    <PageHeader>
      <:title>Gedeelde processen</:title>
      <:subtitle>
        <AuLink @route="help" @skin="secondary" @icon="circle-info">Over BPMN
          bestanden</AuLink>
      </:subtitle>
      <:action>
        <AuButton {{on "click" this.openUploadModal}}>Voeg proces toe</AuButton>
      </:action>
    </PageHeader>

    <AuDataTable
      @content={{this.bpmnFiles}}
      @isLoading={{this.isLoading}}
      @page={{this.page}}
      @size={{this.size}}
      as |t|
    >
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="name"
            @currentSorting={{this.sort}}
            @label="Naam"
          />
          <AuDataTableThSortable
            @field="description"
            @currentSorting={{this.sort}}
            @label="Beschrijving"
          />
          <AuDataTableThSortable
            @field="created"
            @currentSorting={{this.sort}}
            @label="Aangemaakt op"
          />
          <AuDataTableThSortable
            @field="modified"
            @currentSorting={{this.sort}}
            @label="Laatst aangepast op"
          />
          <th></th>
        </c.header>
        {{#if this.hasErrored}}
          <TableMessage::Error />
        {{else if this.hasNoResults}}
          <TableMessage>
            <p>
              Er werden geen zoekresultaten gevonden.
            </p>
          </TableMessage>
        {{else}}
          <c.body as |file|>
            <td>
              <LinkTo
                class="au-c-link"
                @model={{file.id}}
                @route="bpmn-files.bpmn-file"
              >
                {{file.name}}
              </LinkTo>
            </td>
            <td>{{or file.description "/"}}</td>
            <td>{{date-format file.created}}</td>
            <td>{{date-format file.modified}}</td>
            <td>
              <AuButton
                @icon="bin"
                @skin="naked"
                @alert="true"
                @width="block"
                {{on "click" (fn this.openDeleteModal file)}}
              />
            </td>
          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>
  </:content>
</SidebarContainer>

<AuModal
  @modalOpen={{this.uploadModalOpened}}
  @closeModal={{this.closeUploadModal}}
>
  <:title>Voeg BPMN-bestand toe</:title>
  <:body>
    <CustomFileUpload
      @accept=".bpmn,.xml"
      @title="Bestand selecteren"
      @helpTextDragDrop="Bestand wordt meteen verwerkt en toegevoegd aan bibliotheek na selectie"
      @onFileId={{this.extractBpmn}}
      @onFinishUpload={{this.fileUploaded}}
    />
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" this.closeUploadModal}}
      >Annuleer</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.deleteModalOpened}}
  @closeModal={{this.closeDeleteModal}}
>
  <:title>Verwijder {{this.fileToDelete.name}}</:title>
  <:body>Ben je zeker dat je dit BPMN-bestand en al haar processtappen uit de
    bibliotheek wil verwijderen?</:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" this.closeDeleteModal}}
      >Annuleer</AuButton>
      <AuButton
        @skin="primary"
        @icon="bin"
        @alert="true"
        {{on "click" (perform this.deleteFile)}}
      >Verwijder</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>