{{page-title "Diagrammen"}}
{{breadcrumb
  this.model.process.title
  route=this.model.breadcrumRouteName
  models=this.model.process.id
}}

{{! template-lint-disable no-invalid-interactive }}
{{! template-lint-disable no-inline-styles }}
<PageHeader>
  <:title>
    <div class="au-u-flex au-u-flex--vertical-center">
      <AuButton
        @skin="naked"
        @icon="arrow-left"
        @iconAlignment="left"
        @size="large"
        @hideText={{true}}
        class="au-u-margin-right-small animate-left"
        {{on "click" this.goToProcessDetailPage}}
      >
        Previous
      </AuButton>
      Versies
    </div>
  </:title>
  <:action>
    <AuButton
      class="border-radius"
      @skin="primary"
      @iconAlignment="right"
      {{on "click" this.openCreateModal}}
    >
      Maak een nieuwe versie aan
    </AuButton>
  </:action>
</PageHeader>
<SidebarContainer class="diagrams au-u-flex--row-reverse">
  <:sidebar>
    <div class="au-c-sidebar background-white thin-scrollbar">
      <div>
        {{#each @model.lists as |diagramList|}}
          <div
            {{on "click" (fn this.openDiagramList diagramList)}}
            class="au-u-flex au-u-flex--column au-u-padding au-u-padding-top-small pointer
              {{if
                (eq this.selectedDiagramList.id diagramList.id)
                'background-gray border-left-selected'
                'background-white border-left-transparent'
              }}"
            style="border:1.5px solid var(--au-gray-200); "
          >
            <div class="au-u-flex au-u-flex--column au-u-flex--between">
              <p class="au-u-h5">{{date-format diagramList.created true}}</p>
              <p class="au-u-muted">{{diagramList.displayVersion}}</p>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </:sidebar>
  <:content>
    {{#unless (eq this.selectedDiagramList.id @model.activeDiagramList.id)}}
      <AuAlert
        @skin="warning"
        @icon="info-circle"
        @size="tiny"
        @closable={{false}}
      >
        <p>Je bent een oudere versie van de diagrammen aan het bekijken</p>
      </AuAlert>
    {{/unless}}
    {{#unless this.selectedDiagramList}}
      <div
        class="au-u-flex au-u-flex--center au-u-flex--column au-u-text-center au-u-margin-bottom au-u-margin-top"
      >
        <p class="au-u-h3 au-u-muted">Er werden geen versies gevonden</p>
        <p class="au-u-muted">Maak een nieuwe versie aan</p>
      </div>
    {{/unless}}
    {{#if this.selectedDiagramList}}
      <AuToolbar @size="medium" as |Group|>
        <Group />
        <Group>
          <AuButtonGroup class="au-u-flex--end">
            <AuButton
              @alert={{true}}
              @skin="secondary"
              {{on "click" (fn (mut this.isDeleteVersionModalOpen) true)}}
            >
              Verwijder versie
            </AuButton>
            <File::DownloadMultipleAsZip
              @buttonLabel="Download alle"
              @folderName={{this.diagramsDownloadFolderName}}
              @files={{this.diagramFiles}}
              @onDownloadSuccesful={{this.onDiagramsDownloadedAsZip}}
            />
          </AuButtonGroup>
        </Group>
      </AuToolbar>
      <div style="min-height:30vh">
        <DiagramList::Table
          @diagramList={{this.selectedDiagramList}}
          @selectedDiagramFile={{this.selectedDiagramFile}}
          @onDiagramFileSelected={{this.openDiagramFile}}
          @canEdit={{this.canEditFilesInTable}}
          @canDeleteLastItem={{false}}
          @process={{@model.process}}
        />
      </div>
      <div class="au-o-box">
        <File::Viewer @file={{this.selectedDiagramFile}} />
      </div>
    {{/if}}

  </:content>
</SidebarContainer>

{{#if this.isCreateModalOpen}}
  <Process::Wizard
    @onCloseModal={{this.closeCreateModal}}
    @process={{@model.process}}
  />
{{/if}}

<Shared::DeleteModal
  @isModalOpen={{this.isDeleteVersionModalOpen}}
  @closeModal={{fn (mut this.isDeleteVersionModalOpen) false}}
  @onDelete={{fn (perform this.deleteVersion)}}
  @isLoading={{this.deleteVersion.isRunning}}
  @type={{this.deleteVersionModalTitle}}
>
  {{#if (eq @model.lists.length 1)}}
    <AuAlert @size="small" @skin="warning" @icon="alert-triangle">
      <p>Dit is de laatste versie van diagrammen voor dit proces!</p>
    </AuAlert>
  {{/if}}
</Shared::DeleteModal>