{{#if this.isEditingDetails}}
  <PageHeader>
    <:title>
      Wijzig proces
    </:title>
    <:action>
      <AuPill @icon="clock-rewind" @draft="true">Laatst aangepast op
        {{date-format this.process.modified true}}</AuPill>
    </:action>
  </PageHeader>
{{else}}
  <PageHeader>
    <:title>
      {{this.process.title}}
    </:title>
    <:action>
      <AuPill @icon="clock-rewind">Laatst aangepast op
        {{date-format this.process.modified true}}</AuPill>
    </:action>
  </PageHeader>
{{/if}}

<AuBodyContainer class="au-o-box au-o-flow" @scroll={{true}}>
  {{! Details }}
  <Process::DetailsCard
    @canEdit={{this.canEdit}}
    @process={{this.process}}
    @setIsEditing={{this.setIsEditingDetails}}
  />

  <div class="au-o-grid au-o-grid--tiny au-u-margin-top">

    <Process::Diagram::Visual
      @canEdit={{this.canEdit}}
      @latestDiagram={{this.latestDiagram}}
      @openReplaceModal={{this.openReplaceModal}}
      @openDownloadModal={{this.openDownloadModal}}
      @latestDiagramIsLoading={{this.latestDiagramIsLoading}}
      @latestDiagramHasErrored={{this.latestDiagramHasErrored}}
      @setLatestDiagramAsBpmn={{this.setLatestDiagramAsBpmn}}
      @setLatestDiagramAsSvg={{this.setLatestDiagramAsSvg}}
    />

    {{! ICR }}
    <div class="au-o-grid__item">
      {{#if (and this.process.isBlueprint this.process.isPublishedByAbbOrDv)}}
        <Process::IcrCard @canEdit={{this.canEdit}} @process={{this.process}} />
      {{else}}
        <Process::BlueprintCard
          @canEdit={{this.canEdit}}
          @process={{this.process}}
        />
      {{/if}}
    </div>

    <Process::Diagram::Version
      @diagrams={{this.diagrams}}
      @diagramsAreLoading={{this.diagramsAreLoading}}
      @pageVersions={{this.pageVersions}}
      @sortVersions={{this.sortVersions}}
      @sizeVersions={{this.sizeVersions}}
      @diagramsHaveErrored={{this.diagramsHaveErrored}}
      @diagramsHaveNoResults={{this.diagramsHaveNoResults}}
      @latestDiagram={{this.latestDiagram}}
      @downloadFile={{this.downloadFile}}
      @openDeleteModal={{this.openDeleteModal}}
    />

    <Process::Attachments
      @canEdit={{this.canEdit}}
      @attachments={{this.attachments}}
      @downloadAttachments={{this.downloadAttachments}}
      @attachmentsAreLoading={{this.attachmentsAreLoading}}
      @pageAttachments={{this.pageAttachments}}
      sortAttachments={{this.sortAttachments}}
      @attachmentsHaveErrored={{this.attachmentsHaveErrored}}
      @attachmentsHaveNoResults={{this.attachmentsHaveNoResults}}
      @downloadFile={{this.downloadFile}}
      @openDeleteModal={{this.openDeleteModal}}
    />

  </div>
</AuBodyContainer>

<Process::Modals
  @latestDiagram={{this.latestDiagram}}
  @replaceModalOpened={{this.replaceModalOpened}}
  @downloadModalOpened={{this.downloadModalOpened}}
  @deleteModalOpened={{this.deleteModalOpened}}
  @addModalOpened={{this.addModalOpened}}
  @closeReplaceModal={{this.closeReplaceModal}}
  @closeDownloadModal={{this.closeDownloadModal}}
  @closeAddModal={{this.closeAddModal}}
  @closeDeleteModal={{this.closeDeleteModal}}
  @attachmentsUploaded={{this.attachmentsUploaded}}
  @diagramUploaded={{this.diagramUploaded}}
  @downloadLatestDiagram={{this.downloadLatestDiagram}}
  @addFileToProcess={{this.addFileToProcess}}
  @extractBpmnElements={{this.extractBpmnElements}}
  @latestDiagramAsSvg={{this.latestDiagramAsSvg}}
  @fileToDelete={{this.fileToDelete}}
  @deleteFile={{this.deleteFile}}
/>