{{#if this.isEditing}}
  <PageHeader>
    <:title>
      Wijzig proces
    </:title>
    <:action>
      <AuPill @icon="clock-rewind" @draft="true">Laatst aangepast op
        {{date-format this.process.modified true}}</AuPill>
    </:action>
  </PageHeader>
{{else}}
  <PageHeader>
    <:title>
      {{this.process.title}}
    </:title>
    <:action>
      <AuPill @icon="clock-rewind">Laatst aangepast op
        {{date-format this.process.modified true}}</AuPill>
    </:action>
  </PageHeader>
{{/if}}

<AuBodyContainer class="au-o-box au-o-flow" @scroll={{true}}>
  {{#if this.isEditing}}
    <form {{on "submit" (perform this.updateModel)}}>
      <DataCard>
        <:title>
          Algemene informatie
        </:title>
        <:header>
          <div class="au-u-flex au-u-flex--spaced-small au-u-flex--end">
            <AuButton
              @skin="secondary"
              {{on "click" this.resetModel}}
            >Annuleer</AuButton>
            <AuButton
              @skin="primary"
              type="submit"
              @loading={{this.updateModel.isRunning}}
              @disabled={{or this.updateModel.isRunning (not this.formIsValid)}}
            >Bewaar</AuButton>
          </div>
        </:header>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item>
                <:label>Titel</:label>
                <:content>
                  <AuInput
                    value={{this.process.title}}
                    {{on "input" this.setProcessTitle}}
                    @width="block"
                    @disabled={{not this.canEdit}}
                  />
                </:content>
              </Item>
              <Item>
                <:label>Beschrijving</:label>
                <:content>
                  <AuTextarea
                    value={{this.process.description}}
                    {{on "input" this.setProcessDescription}}
                    rows="4"
                    @width="block"
                    @disabled={{not this.canEdit}}
                  />
                </:content>
              </Item>
              <Item>
                <:label>Contact proces</:label>
                <:content>
                  <AuInput
                    value={{this.process.email}}
                    {{on "input" this.setProcessEmail}}
                    @width="block"
                    @disabled={{not this.canEdit}}
                  />
                </:content>
              </Item>
              <Item>
                <:label>Link naar IPDC/LPDC</:label>
                <:content>
                  <IpdcMultipleSelect
                    @selected={{this.draftIpdcProducts}}
                    @onChange={{this.setDraftIpdcProducts}}
                    @disabled={{not this.canEdit}}
                  />
                  <div class="au-u-flex au-u-flex--between">
                    <AuHelpText
                      @skin="secondary"
                      class="au-u-margin-top-none au-u-flex-self-start"
                    >
                      Vul hier IPDC-productcodes of -URLs in.
                    </AuHelpText>
                    <AuLinkExternal
                      class="au-u-flex-self-start"
                      href="https://productencatalogus-v3.vlaanderen.be/nl/producten"
                    >
                      Zoek in IPDC
                    </AuLinkExternal>
                  </div>
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item>
                <:label>Bestuur</:label>
                <:content>
                  {{this.process.publisher.name}}
                </:content>
              </Item>
              <Item>
                <:label>Type bestuur</:label>
                <:content>
                  {{this.process.publisher.classification.label}}
                </:content>
              </Item>
              <Item>
                <:label>Emailadres bestuur</:label>
                <:content>
                  {{or
                    (contact-email this.process.publisher.primarySite.contacts)
                    "/"
                  }}
                </:content>
              </Item>
              <Item>
                <:label>Aangemaakt op</:label>
                <:content>
                  {{date-format this.process.created true}}
                </:content>
              </Item>
              <Item>
                <:label>Wij gebruiken dit proces</:label>
                <:content>
                  <AuCheckbox
                    @checked={{this.processUsedByUs}}
                    @onChange={{this.setProcessUsedByUs}}
                  />
                </:content>
              </Item>
              <Item>
                <:label>Blauwdruk</:label>
                <:content>
                  <AuToggleSwitch
                    @onChange={{this.toggleBlueprintStatus}}
                    @checked={{this.process.isBlueprint}}
                    @disabled={{not this.canEdit}}
                  />
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </DataCard>
    </form>
  {{else}}
    <DataCard>
      <:title>
        Algemene informatie
      </:title>
      <:header>
        <AuButton
          @skin="naked"
          @icon="pencil"
          {{on "click" this.toggleEdit}}
        >Wijzig</AuButton>
      </:header>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Titel</:label>
              <:content>
                {{this.process.title}}
              </:content>
            </Item>
            <Item>
              <:label>Beschrijving</:label>
              <:content>
                {{or this.process.description "/"}}
              </:content>
            </Item>
            <Item>
              <:label>Contact proces</:label>
              <:content>
                {{or this.process.email "/"}}
              </:content>
            </Item>
            <Item>
              <:label>Link naar IPDC/LPDC</:label>
              <:content>
                {{#if this.process.ipdcProducts.length}}
                  {{#each this.process.ipdcProducts as |product|}}
                    <AuLinkExternal href="{{product.url}}" class="au-u-flex">
                      {{language-string-set-nl product.name}}
                    </AuLinkExternal>
                  {{/each}}
                {{else}}
                  /
                {{/if}}
              </:content>
            </Item>
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Bestuur</:label>
              <:content>
                {{this.process.publisher.name}}
              </:content>
            </Item>
            <Item>
              <:label>Type bestuur</:label>
              <:content>
                {{this.process.publisher.classification.label}}
              </:content>
            </Item>
            <Item>
              <:label>Emailadres bestuur</:label>
              <:content>
                {{or
                  (contact-email this.process.publisher.primarySite.contacts)
                  "/"
                }}
              </:content>
            </Item>
            <Item>
              <:label>Aangemaakt op</:label>
              <:content>
                {{date-format this.process.created true}}
              </:content>
            </Item>
            <Item>
              <:label>Wij gebruiken dit proces</:label>
              <:content>
                <AuCheckbox
                  @disabled={{not this.isEditing}}
                  @checked={{this.processUsedByUs}}
                />
              </:content>
            </Item>
            <Item>
              <:label>Blauwdruk</:label>
              <:content>
                <AuToggleSwitch
                  @disabled={{not this.isEditing}}
                  @checked={{this.process.isBlueprint}}
                />
              </:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>
  {{/if}}

  <div class="au-o-grid au-o-grid--tiny au-u-margin-top">

    {{! Latest diagram }}
    <div class="au-o-grid__item">

      {{! Latest diagram - Title }}
      <div class="au-u-flex au-u-flex--between au-u-margin-bottom-small">
        <AuHeading @level="2" @skin="3">Diagram</AuHeading>
        <AuButtonGroup>
          {{#if this.canEdit}}
            <AuButton
              @skin="secondary"
              {{on "click" this.openReplaceModal}}
            >Vervang</AuButton>
          {{/if}}
          {{#if this.latestDiagram}}
            <AuButton {{on "click" this.openDownloadModal}}>
              Download
            </AuButton>
          {{/if}}
        </AuButtonGroup>
      </div>

      {{! Latest diagram - Visual }}
      <div>
        {{#if this.latestDiagramIsLoading}}
          <AuLoader />
        {{else if this.latestDiagramHasErrored}}
          <AuAlert
            @title="Niet gevonden"
            @skin="warning"
            @icon="alert-triangle"
          >
            Er ging iets mis bij het ophalen van het diagram. Probeer later
            opnieuw.
          </AuAlert>
        {{else if
          (and
            this.latestDiagram
            (or this.latestDiagram.isBpmnFile this.latestDiagram.isVisioFile)
          )
        }}
          <AuHelpText @skin="tertiary" class="au-u-margin-top-none">
            Klik en hou vast om diagram te bedienen. Gebruik ctrl en scrollwiel
            om in en uit te zoomen. Klik elders om bediening uit te schakelen.
          </AuHelpText>
          {{#if this.latestDiagram.isBpmnFile}}
            <BpmnViewer
              @diagram={{this.latestDiagram}}
              @onBpmnLoaded={{this.setLatestDiagramAsBpmn}}
              @onSvgLoaded={{this.setLatestDiagramAsSvg}}
            />
          {{else if this.latestDiagram.isVisioFile}}
            <PdfViewer @diagram={{this.latestDiagram}} />
          {{/if}}
          <DataCard class="au-u-margin-top-small">
            <:header></:header>
            <:title>
              Metadata
            </:title>
            <:card as |Card|>
              <Card.Columns>
                <:left as |Item|>
                  <Item>
                    <:label>Bestandsnaam</:label>
                    <:content>
                      {{this.latestDiagram.name}}
                    </:content>
                  </Item>
                  <Item>
                    <:label>Toegevoegd op</:label>
                    <:content>
                      {{date-format this.latestDiagram.modified true}}
                    </:content>
                  </Item>
                </:left>
                <:right as |Item|>
                  <Item>
                    <:label>Grootte</:label>
                    <:content>
                      {{file-size-format this.latestDiagram.size}}
                    </:content>
                  </Item>
                  <Item>
                    <:label>Extensie</:label>
                    <:content>
                      {{this.latestDiagram.extension}}
                    </:content>
                  </Item>
                  <Item>
                    <:label>Formaat</:label>
                    <:content>
                      {{this.latestDiagram.format}}
                    </:content>
                  </Item>
                </:right>
              </Card.Columns>
            </:card>
          </DataCard>
        {{else}}
          <AuAlert
            @title="Niet gevonden"
            @skin="warning"
            @icon="alert-triangle"
          >
            Er werd geen diagram gevonden voor die proces.
          </AuAlert>
        {{/if}}
      </div>
    </div>

    {{! ICR }}
    <div class="au-o-grid__item">
      {{#if this.process.isBlueprint}}
        <Process::IcrCard @canEdit={{this.canEdit}} />
      {{else}}
        <Process::BlueprintCard
          @canEdit={{this.canEdit}}
          @process={{this.process}}
        />
      {{/if}}
    </div>

    {{! Diagrams }}
    <div class="au-o-grid__item au-u-margin-top">

      {{! Diagrams - Title }}
      <div class="au-u-margin-bottom-small">
        <div class="au-u-flex au-u-flex--between au-u-margin-bottom-small">
          <AuHeading @level="2" @skin="3">Versies</AuHeading>
        </div>
        <AuHelpText @skin="secondary" class="au-u-margin-top-none">
          Ontdek hier vorige versies van het diagram van dit proces, geüpload in
          het Open Proces Huis. Deze versies zijn beschikbaar om te downloaden.
        </AuHelpText>
      </div>

      {{! Diagrams - Files }}
      <div class="au-c-boxed-table au-u-margin-top-small">
        <AuDataTable
          @content={{this.diagrams}}
          @isLoading={{this.diagramsAreLoading}}
          @page={{this.pageVersions}}
          @size={{this.sizeVersions}}
          as |t|
        >
          <t.content class="au-c-data-table__table--small" as |c|>
            <c.header>
              <AuDataTableThSortable
                @field="created"
                @currentSorting={{this.sortVersions}}
                @label="Toegevoegd op"
              />
              <AuDataTableThSortable
                @field="name"
                @currentSorting={{this.sortVersions}}
                @label="Bestandsnaam"
              />
              <AuDataTableThSortable
                @field="size"
                @currentSorting={{this.sortVersions}}
                @label="Grootte"
              />
              <th></th>
              {{#if this.canEdit}}
                <th></th>
              {{/if}}
            </c.header>
            {{#if this.diagramsHaveErrored}}
              <TableMessage::Error />
            {{else if this.diagramsHaveNoResults}}
              <TableMessage>
                <p>
                  Er werden geen zoekresultaten gevonden.
                </p>
              </TableMessage>
            {{else}}
              <c.body as |diagram|>
                <td>{{date-format diagram.created true}}</td>
                <td>
                  {{#if (eq diagram.id this.latestDiagram.id)}}
                    <strong>
                      {{diagram.name}}
                      <AuIcon @icon="circle-check" />
                    </strong>
                  {{else}}
                    {{diagram.name}}
                  {{/if}}
                </td>
                <td>{{file-size-format diagram.size}}</td>
                <td>
                  <AuButton
                    @icon="download"
                    @skin="link"
                    @width="block"
                    @hideText="true"
                    {{on "click" (fn this.downloadFile diagram)}}
                  >Download</AuButton>
                </td>
                {{#if this.canEdit}}
                  <td>
                    <AuButton
                      @icon="bin"
                      @skin="naked"
                      @alert="true"
                      @width="block"
                      @hideText="true"
                      @disabled={{eq diagram.id this.latestDiagram.id}}
                      {{on "click" (fn this.openDeleteModal diagram)}}
                    >Verwijder</AuButton>
                  </td>
                {{/if}}
              </c.body>
            {{/if}}
          </t.content>
        </AuDataTable>
      </div>
    </div>

    {{! Attachments }}
    <div class="au-o-grid__item au-u-margin-top">

      {{! Attachments - Title }}
      <div class="au-u-margin-bottom-small">
        <div class="au-u-flex au-u-flex--between au-u-margin-bottom-small">
          <AuHeading @level="2" @skin="3">Bijlagen</AuHeading>
          <AuButtonGroup>
            {{#if this.canEdit}}
              <AuButton @skin="secondary" {{on "click" this.openAddModal}}>
                Voeg toe
              </AuButton>
            {{/if}}
            <AuButton
              @disabled={{not this.attachments}}
              {{on "click" (perform this.downloadAttachments)}}
            >
              Download alles
            </AuButton>
          </AuButtonGroup>
        </div>
        <AuHelpText @skin="secondary" class="au-u-margin-top-none">
          Bijlagen kunnen worden toegevoegd om het diagram te verduidelijken in
          alle bestandsformaten, behalve
          <span class="au-u-italic">.bpmn</span>
          en
          <span class="au-u-italic">.vsdx</span>.
        </AuHelpText>
      </div>

      {{! Attachments - Files }}
      <div class="au-c-boxed-table au-u-margin-top-small">
        <AuDataTable
          @content={{this.attachments}}
          @isLoading={{this.attachmentsAreLoading}}
          @page={{this.pageAttachments}}
          @size={{this.sizeAttachments}}
          as |t|
        >
          <t.content class="au-c-data-table__table--small" as |c|>
            <c.header>
              <AuDataTableThSortable
                @field="name"
                @currentSorting={{this.sortAttachments}}
                @label="Bestandsnaam"
              />
              <AuDataTableThSortable
                @field="size"
                @currentSorting={{this.sortAttachments}}
                @label="Grootte"
              />
              <AuDataTableThSortable
                @field="extension"
                @currentSorting={{this.sortAttachments}}
                @label="Extensie"
              />
              <AuDataTableThSortable
                @field="format"
                @currentSorting={{this.sortAttachments}}
                @label="Formaat"
              />
              <AuDataTableThSortable
                @field="created"
                @currentSorting={{this.sortAttachments}}
                @label="Toegevoegd op"
              />
              <th></th>
              {{#if this.canEdit}}
                <th></th>
              {{/if}}
            </c.header>
            {{#if this.attachmentsHaveErrored}}
              <TableMessage::Error />
            {{else if this.attachmentsHaveNoResults}}
              <TableMessage>
                <p>
                  Er werden geen zoekresultaten gevonden.
                </p>
              </TableMessage>
            {{else}}
              <c.body as |attachment|>
                <td>{{attachment.name}}</td>
                <td>{{file-size-format attachment.size}}</td>
                <td>{{attachment.extension}}</td>
                <td>{{attachment.format}}</td>
                <td>{{date-format attachment.created true}}</td>
                <td>
                  <AuButton
                    @icon="download"
                    @skin="link"
                    @width="block"
                    @hideText="true"
                    {{on "click" (fn this.downloadFile attachment)}}
                  >Download</AuButton>
                </td>
                {{#if this.canEdit}}
                  <td>
                    <AuButton
                      @icon="bin"
                      @skin="naked"
                      @alert="true"
                      @width="block"
                      @hideText="true"
                      {{on "click" (fn this.openDeleteModal attachment)}}
                    >Verwijder</AuButton>
                  </td>
                {{/if}}
              </c.body>
            {{/if}}
          </t.content>
        </AuDataTable>
      </div>

    </div>

  </div>
</AuBodyContainer>

<AuModal
  @modalOpen={{this.replaceModalOpened}}
  @closeModal={{this.closeReplaceModal}}
>
  <:title>Vervang diagram</:title>
  <:body>
    <CustomFileUpload
      @accept=".bpmn,.vsdx"
      @title="BPMN- of Visiobestand selecteren"
      @helpTextDragDrop="Bestand wordt meteen verwerkt en toegevoegd aan bibliotheek na selectie"
      @updateProcess={{this.addFileToProcess}}
      @extractBpmnElements={{this.extractBpmnElements}}
      @onFinishUpload={{this.diagramUploaded}}
    />
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="naked"
        {{on "click" this.closeReplaceModal}}
      >Annuleer</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.downloadModalOpened}}
  @closeModal={{this.closeDownloadModal}}
>
  <:title>Download diagram</:title>
  <:body>
    <div class="au-o-flow">
      <p>Het geselecteerde diagram is beschikbaar in verschillende formaten:</p>
      <AuButtonGroup class="au-u-flex au-u-flex--around">
        {{#if this.latestDiagram.isVisioFile}}
          <AuButton
            @skin="primary"
            {{on "click" (perform this.downloadLatestDiagram "vsdx")}}
          >
            Visio
            <span class="au-u-para-tiny au-u-regular">(.vsdx)</span>
          </AuButton>
        {{/if}}
        <AuButton
          @skin={{if this.latestDiagram.isBpmnFile "primary" "secondary"}}
          {{on "click" (perform this.downloadLatestDiagram "bpmn")}}
        >
          BPMN
          <span class="au-u-para-tiny au-u-regular">(.bpmn)</span>
        </AuButton>
        {{#if this.latestDiagramAsSvg}}
          <AuButton
            @skin="secondary"
            {{on "click" (perform this.downloadLatestDiagram "png")}}
          >
            Afbeelding
            <span class="au-u-para-tiny au-u-regular">(.png)</span>
          </AuButton>
          <AuButton
            @skin="secondary"
            {{on "click" (perform this.downloadLatestDiagram "svg")}}
          >
            Vectorafbeelding
            <span class="au-u-para-tiny au-u-regular">(.svg)</span>
          </AuButton>
        {{/if}}
        <AuButton
          @skin="secondary"
          {{on "click" (perform this.downloadLatestDiagram "pdf")}}
        >
          PDF
          <span class="au-u-para-tiny au-u-regular">(.pdf)</span>
        </AuButton>
      </AuButtonGroup>
    </div>
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="naked"
        {{on "click" this.closeDownloadModal}}
      >Annuleer</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>

<AuModal @modalOpen={{this.addModalOpened}} @closeModal={{this.closeAddModal}}>
  <:title>Voeg bijlage toe</:title>
  <:body>
    <CustomFileUpload
      @title="Bestand selecteren"
      @helpTextDragDrop="Bestand wordt meteen toegevoegd aan bibliotheek na selectie"
      @forbidden=".bpmn,.vsdx"
      @multiple="true"
      @updateProcess={{this.addFileToProcess}}
      @onFinishUpload={{this.attachmentsUploaded}}
    />
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="naked"
        {{on "click" this.closeAddModal}}
      >Annuleer</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.deleteModalOpened}}
  @closeModal={{this.closeDeleteModal}}
>
  <:title>Verwijder {{this.fileToDelete.name}}</:title>
  <:body>Ben je zeker dat je dit bestand uit de bibliotheek wil verwijderen?</:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" this.closeDeleteModal}}
      >Annuleer</AuButton>
      <AuButton
        @skin="primary"
        @icon="bin"
        @alert="true"
        {{on "click" (perform this.deleteFile)}}
      >Verwijder</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>