{{#if this.edit}}
  <PageHeader>
    <:title>
      Wijzig metadata
    </:title>
    <:action>
    </:action>
  </PageHeader>
{{else}}
  <PageHeader>
    <:title>
      {{this.metadata.name}}
    </:title>
    <:action>
      <AuButtonGroup>
        {{#if this.canEdit}}
          <AuButton
            @skin="secondary"
            {{on "click" this.openReplaceModal}}
          >Vervang BPMN-bestand</AuButton>
        {{/if}}
        <AuButton {{on "click" this.openDownloadModal}}>
          Download BPMN-bestand
        </AuButton>
      </AuButtonGroup>
    </:action>
  </PageHeader>
{{/if}}

<AuBodyContainer class="au-o-box au-o-flow" @scroll={{true}}>
  {{#if this.edit}}
    <form {{on "submit" (perform this.updateModel)}}>
      <DataCard>
        <:header></:header>
        <:title>
          Metadata
        </:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item>
                <:label>Bestandsnaam</:label>
                <:content>
                  <AuInput
                    value={{this.metadata.name}}
                    {{on "input" this.setFileName}}
                    @width="block"
                  />
                </:content>
              </Item>
              <Item>
                <:label>Bestuur</:label>
                <:content>
                  {{this.metadata.publisher.name}}
                </:content>
              </Item>

              <Item>
                <:label>Contact</:label>
                <:content>
                  {{contact-email this.metadata.publisher.primarySite.contacts}}
                </:content>
              </Item>
              <Item>
                <:label>Beschrijving</:label>
                <:content>
                  <AuTextarea
                    value={{this.metadata.description}}
                    {{on "input" this.setFileDescription}}
                    rows="4"
                    @width="block"
                  />
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item>
                <:label>Aangemaakt op</:label>
                <:content>
                  {{date-format this.metadata.created true}}
                </:content>
              </Item>
              <Item>
                <:label>Laatst aangepast op</:label>
                <:content>
                  <span class="au-u-italic">Nu</span>
                </:content>
              </Item>
              <Item>
                <:label>Extensie</:label>
                <:content>
                  {{this.metadata.extension}}
                </:content>
              </Item>
              <Item>
                <:label>Formaat</:label>
                <:content>
                  {{this.metadata.format}}
                </:content>
              </Item>
              <Item>
                <:label>Grootte</:label>
                <:content>
                  {{file-size-format this.metadata.size}}
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
        <:action>
          <div class="au-u-flex au-u-flex--spaced-small au-u-flex--end">
            <AuButton
              @skin="secondary"
              {{on "click" this.resetModel}}
            >Annuleer</AuButton>
            <AuButton
              @skin="primary"
              type="submit"
              @loading={{this.updateModel.isRunning}}
              @disabled={{or this.updateModel.isRunning (not this.formIsValid)}}
            >Bewaar</AuButton>
          </div>
        </:action>
      </DataCard>
    </form>
  {{else}}
    <DataCard>
      <:header>
        {{#if this.canEdit}}
          <AuButton
            @skin="naked"
            @icon="pencil"
            {{on "click" this.toggleEdit}}
          >Wijzig</AuButton>
        {{/if}}
      </:header>
      <:title>
        Metadata
      </:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Bestandsnaam</:label>
              <:content>
                {{this.metadata.name}}
              </:content>
            </Item>
            <Item>
              <:label>Bestuur</:label>
              <:content>
                {{this.metadata.publisher.name}}
              </:content>
            </Item>

            <Item>
              <:label>Contact</:label>
              <:content>
                {{contact-email this.metadata.publisher.primarySite.contacts}}
              </:content>
            </Item>
            <Item>
              <:label>Beschrijving</:label>
              <:content>
                {{or this.metadata.description "/"}}
              </:content>
            </Item>

          </:left>
          <:right as |Item|>
            <Item>
              <:label>Aangemaakt op</:label>
              <:content>
                {{date-format this.metadata.created true}}
              </:content>
            </Item>
            <Item>
              <:label>Laatst aangepast op</:label>
              <:content>
                {{date-format this.metadata.modified true}}
              </:content>
            </Item>
            <Item>
              <:label>Extensie</:label>
              <:content>
                {{this.metadata.extension}}
              </:content>
            </Item>

            <Item>
              <:label>Formaat</:label>
              <:content>
                {{this.metadata.format}}
              </:content>
            </Item>
            <Item>
              <:label>Grootte</:label>
              <:content>
                {{file-size-format this.metadata.size}}
              </:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>
  {{/if}}

  <div class="au-o-grid au-o-grid--tiny au-u-margin-top">
    <div class="au-o-grid__item">
      <AuHeading
        @level="2"
        @skin="4"
        class="au-u-margin-bottom-none"
      >Diagram</AuHeading>
      {{#if this.diagramIsLoading}}
        <AuLoader />
      {{else if this.diagramHasErrored}}
        <p>Er ging iets mis bij het ophalen van het BPMN-bestand. Probeer later
          opnieuw.</p>
      {{else}}
        <p class="au-u-margin-top-none">
          <AuHelpText @skin="secondary">Klik en hou vast om diagram te bewegen.
            Gebruik ctrl en scrollwiel om in en uit te zoomen.</AuHelpText>
        </p>
        <BpmnViewer @bpmnXml={{this.diagram}} />
      {{/if}}
    </div>
    <div class="au-o-grid__item">
      <AuHeading
        @level="2"
        @skin="4"
        class="au-u-margin-bottom-small au-u-margin-top"
      >Processtappen</AuHeading>
      <div class="au-c-boxed-table">
        <AuDataTable
          @content={{this.processSteps}}
          @isLoading={{this.processStepsBatchIsLoading}}
          @page={{this.page}}
          @size={{this.size}}
          as |t|
        >
          <t.content class="au-c-data-table__table--small" as |c|>
            <c.header>
              <AuDataTableThSortable
                @field="name"
                @currentSorting={{this.sort}}
                @label="Naam"
              />
              <AuDataTableThSortable
                @field="type"
                @currentSorting={{this.sort}}
                @label="Type"
              />
            </c.header>
            {{#if this.processStepsBatchHasErrored}}
              <TableMessage::Error />
            {{else if this.processStepsBatchHasNoResults}}
              <TableMessage>
                <p>
                  Er werden geen zoekresultaten gevonden.
                </p>
              </TableMessage>
            {{else}}
              <c.body as |element|>
                <td>{{or element.name "/"}}</td>
                <td>{{capitalize-first (or element.type.name "/")}}</td>
              </c.body>
            {{/if}}
          </t.content>
        </AuDataTable>
      </div>
    </div>
  </div>
</AuBodyContainer>

<AuModal
  @modalOpen={{this.replaceModalOpened}}
  @closeModal={{this.closeReplaceModal}}
>
  <:title>Vervang BPMN-bestand</:title>
  <:body>
    <CustomFileUpload
      @accept=".bpmn,.xml"
      @title="Bestand selecteren"
      @helpTextDragDrop="Bestand wordt meteen verwerkt en toegevoegd aan bibliotheek na selectie"
      @onFileId={{this.extractBpmn}}
      @onFinishUpload={{this.fileUploaded}}
    />
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="naked"
        {{on "click" this.closeReplaceModal}}
      >Annuleer</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.downloadModalOpened}}
  @closeModal={{this.closeDownloadModal}}
>
  <:title>Download BPMN-bestand</:title>
  <:body>
    <div class="au-o-flow">
      <p>Het geselecteerde BPMN-bestand is beschikbaar in verschillende
        formaten:</p>
      <AuButtonGroup class="au-u-flex au-u-flex--around">
        {{#each this.downloadTypes as |downloadType|}}
          <AuButton
            @skin={{if
              (eq downloadType.extension "bpmn")
              "primary"
              "secondary"
            }}
            {{on "click" (fn this.downloadFile downloadType)}}
          >{{capitalize-first downloadType.label}}
            <span
              class="au-u-para-tiny au-u-regular"
            >(.{{downloadType.extension}})</span></AuButton>
        {{/each}}
      </AuButtonGroup>
    </div>
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="naked"
        {{on "click" this.closeDownloadModal}}
      >Annuleer</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>