<DataCard>
  <:title>Versies</:title>
  <:header></:header>
  <:subheader>
    <AuHelpText @skin="secondary">
      Ontdek hier vorige versies van het diagram van dit proces, geüpload in het
      Open Proces Huis. Deze versies zijn beschikbaar om te downloaden.
    </AuHelpText></:subheader>

  <:card>
    <AuDataTable
      @content={{this.diagrams}}
      @isLoading={{this.diagramsAreLoading}}
      @page={{this.pageVersions}}
      @size={{this.sizeVersions}}
      as |t|
    >
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="name"
            @currentSorting={{this.sortVersions}}
            @label="Hoofddiagram"
          />
          <AuDataTableThSortable
            @field="created"
            @currentSorting={{this.sortVersions}}
            @label="Toegevoegd op"
          />
          <th></th>
          {{#if @canEdit}}<th></th>{{/if}}
        </c.header>
        {{#if this.diagramsHaveErrored}}
          <TableMessage::Error />
        {{else if this.diagramsHaveNoResults}}
          <TableMessage>
            <p>Er werden geen zoekresultaten gevonden.</p>
          </TableMessage>
        {{else}}
          <c.body as |version|>
            <td>
              {{version.mainDiagramFileName}}
              {{#if (eq version.list.id this.latestDiagram.id)}}
                <strong>
                  <AuIcon @icon="circle-check" />
                </strong>
              {{/if}}
            </td>
            <td>{{date-format version.list.created true}}</td>

            <td>
              <File::DownloadMultipleAsZip
                @showAsDownloadIcon={{true}}
                @folderName={{version.zipFilename}}
                @files={{version.diagramFiles}}
              />
            </td>
            {{#if @canEdit}}
              <td>
                <AuButton
                  @icon="bin"
                  @skin="naked"
                  @alert="true"
                  @width="block"
                  @hideText="true"
                  @disabled={{eq version.list.id this.latestDiagram.id}}
                  {{on "click" (fn this.openDeleteModal version.list)}}
                >Verwijder</AuButton>
              </td>
            {{/if}}
          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>
  </:card>
</DataCard>

<AuModal
  @modalOpen={{this.deleteModalOpened}}
  @closeModal={{this.closeDeleteModal}}
>
  <:title>Verwijder diagrammen versie</:title>
  <:body>Ben je zeker dat je deze versie uit de bibliotheek wil verwijderen?</:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" this.closeDeleteModal}}
      >Annuleer</AuButton>
      <AuButton
        @skin="primary"
        @icon="bin"
        @alert="true"
        {{on "click" (perform this.deleteDiagramList)}}
      >Verwijder</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>