<DataCard>
  <:title>Versies</:title>
  <:header></:header>
  <:subheader>
    <AuHelpText @skin="secondary">
      Ontdek hier vorige diagrammen versies van dit proces, geüpload in het
      Open Proces Huis. Deze versies zijn beschikbaar om te downloaden.
    </AuHelpText></:subheader>

  <:card>
    <AuDataTable
      @content={{this.versions.value}}
      @isLoading={{this.fetchVersions.isRunning}}
      @hidePagination={{true}}
      @page={{@page}}
      @size={{this.size}}
      @sort={{@sort}}
      as |t|
    >
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <th class="au-u-1-2">Hoofddiagram</th>
          <AuDataTableThSortable
            @field="created"
            @currentSorting={{@sort}}
            @label="Toegevoegd op"
          />
          <th>Aantal diagrammen</th>
          <th></th>
          {{#if @canEdit}}<th></th>{{/if}}
        </c.header>
        {{#if this.fetchVersions.isError}}
          <TableMessage::Error />
        {{else if this.hasNoResults}}
          <TableMessage>
            <p>Er werden geen zoekresultaten gevonden.</p>
          </TableMessage>
        {{else}}
          <c.body as |version|>
            <td>
              {{version.mainDiagramFileName}}
              {{#unless version.canRemove}}
                <strong>
                  <AuIcon @icon="circle-check" />
                </strong>
              {{/unless}}
            </td>
            <td>{{date-format version.list.created true}}</td>
            <td>{{version.diagramFiles.length}}</td>
            <td>
              <File::DownloadMultipleAsZip
                @showAsDownloadIcon={{true}}
                @folderName={{version.zipFilename}}
                @files={{version.diagramFiles}}
              />
            </td>
            {{#if @canEdit}}
              <td>
                <AuButton
                  @icon="bin"
                  @skin="naked"
                  @alert="true"
                  @width="block"
                  @hideText="true"
                  @disabled={{not version.canRemove}}
                  {{on "click" (fn this.openDeleteModal version.list)}}
                >Verwijder</AuButton>
              </td>
            {{/if}}
          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>
    <Shared::TablePagination
      @metadata={{this.versionsTableMeta}}
      @pageQueryParamName="diagramVersionsPage"
    />
  </:card>
</DataCard>

<AuModal
  @modalOpen={{this.deleteModalOpened}}
  @closeModal={{this.closeDeleteModal}}
>
  <:title>Verwijder diagrammen versie</:title>
  <:body>Ben je zeker dat je deze versie uit de bibliotheek wil verwijderen?</:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" this.closeDeleteModal}}
      >Annuleer</AuButton>
      <AuButton
        @skin="primary"
        @icon="bin"
        @alert="true"
        {{on "click" (perform this.deleteDiagramList)}}
      >Verwijder</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>