<AuTable @size={{this.size}}>
  <:title>
    {{! template-lint-disable no-invalid-interactive }}
    <div
      class="au-u-flex au-u-flex--row au-u-flex--no-wrap au-u-flex--vertical-center au-u-flex--between"
      {{on "click" this.toggleCollapse}}
    >
      <p class="au-u-muted au-u-h6">
        {{@domain.label}}
      </p>
      <AuIcon
        @icon={{if this.isCollapsed "chevron-right" "chevron-down"}}
        @class="au-u-flex au-u-flex--spaced-tiny icon--black"
      />
    </div>
  </:title>
  <:body>
    {{#unless this.isCollapsed}}
      {{#if this.isLoading}}
        <AuLoader @hideMessage={{true}} />
      {{else}}
        {{#each this.groups as |group|}}
          <tr>
            <div
              class="au-u-flex au-u-flex--row au-u-flex--vertical-center au-u-flex--between au-u-padding-left-small au-u-padding-right-small"
            >
              <p>{{group.label}}</p>
              <AuButtonGroup
                @inline={{true}}
                class="inventory-row-button-group"
              >
                <AuButton
                  @icon="pencil"
                  @skin="naked"
                  @size="large"
                  {{!-- {{on "click" this.editGroup}} --}}
                />
                <AuButton
                  @icon="bin"
                  @skin="naked"
                  @size="large"
                  @alert={{true}}
                  {{!-- {{on "click" this.openDeleteGroupModal}} --}}
                />
              </AuButtonGroup>
            </div>
          </tr>
        {{/each}}
      {{/if}}
    {{/unless}}
  </:body>
  <:footer>
    {{#unless this.isCollapsed}}
      <tr>
        <td>
          <AuButton @skin="naked" @icon="add" iconAlignment="left">
            Nieuwe groep
          </AuButton>
        </td>
      </tr>
    {{/unless}}
  </:footer>
</AuTable>