<AuTable @size={{this.size}}>
  <:title>
    <div
      class="au-u-flex au-u-flex--row au-u-flex--no-wrap au-u-flex--vertical-center au-u-flex--between"
    >
      {{! template-lint-disable no-invalid-interactive }}
      <div
        class="au-u-flex au-u-flex--vertical-center"
        {{on "click" this.toggleCollapse}}
      >
        <AuHeading class="au-u-muted" @skin="6">
          {{@domain.label}}
        </AuHeading>
        <AuButton
          @icon={{if this.isCollapsed "chevron-right" "chevron-down"}}
          @skin="naked"
          class="au-u-flex au-u-flex--spaced-tiny color--black"
        />
      </div>
      <Inventory::EditToolbar @modelName="process-domain" @model={{@domain}} @onModelDeleted={{@onDomainDeleted}}/>
    </div>
  </:title>
  <:body>
    {{#unless this.isCollapsed}}
      {{#if this.isLoading}}
        <AuLoader @hideMessage={{true}} />
      {{else}}
        {{#each this.groups as |group|}}
          <Inventory::EditableGroupRow
            @group={{group}}
            @domain={{@domain}}
            @onRemovedGroup={{this.loadGroups}}
          />
        {{/each}}
      {{/if}}
    {{/unless}}
  </:body>
  <:footer>
    {{#unless (or this.isCollapsed this.isFetchingGroups)}}
      <tr>
        <td>
          <AuButton
            @skin="naked"
            @icon="add"
            iconAlignment="left"
            @disabled={{this.isCreatingGroup}}
            {{on "click" this.createGroup}}
          >
            Nieuwe groep
          </AuButton>
        </td>
      </tr>
    {{/unless}}
  </:footer>
</AuTable>