<tr>
  <div
    class="{{if this.isEditing 'bg-200--blue'}}
      au-u-flex au-u-flex--row au-u-flex--vertical-center au-u-flex--between au-u-padding-small au-padding-right-none"
  >
    {{#if this.isEditing}}
      <AuInput
        @width="block"
        @error={{this.errorMessage}}
        id="new-category"
        value={{this.label}}
        {{on "keyup" (perform this.updateLabel)}}
      />
      <AuButtonGroup @inline={{true}}>
        <AuButton
          @icon="check"
          @skin="naked"
          @size="large"
          @disabled={{not this.isValidLabel}}
          {{on "click" this.saveGroupLabel}}
        />
        <AuButton
          @icon="cross"
          @skin="naked"
          @size="large"
          @alert={{true}}
          {{on "click" this.toggleIsEditing}}
        />
      </AuButtonGroup>
    {{else}}
      <p>{{@group.label}}</p>
      <AuButtonGroup @inline={{true}} class="inventory-row-button-group">
        {{#if this.isArchived}}
          <AuButton
            @icon="undo"
            @skin="naked"
            @size="large"
            {{on "click" this.openUnArchiveModal}}
          />
        {{else}}
          <AuButton
            @icon="pencil"
            @skin="naked"
            @size="large"
            {{on "click" this.toggleIsEditing}}
          />
          <AuButton
            @loading={{this.isCheckingForUsage}}
            @loadingMessage=""
            @icon="archive"
            @skin="naked"
            @size="large"
            {{on "click" this.openArchiveModal}}
          />
        {{/if}}
        {{#unless true}}
          <AuButton
            @icon="bin"
            @skin="naked"
            @size="large"
            @alert={{true}}
            {{on "click" this.openDeleteModal}}
          />
        {{/unless}}
      </AuButtonGroup>
    {{/if}}
  </div>
</tr>

<AuModal
  @modalOpen={{this.isDeleteModelOpen}}
  @closable={{true}}
  @closeModal={{fn (mut this.isDeleteModelOpen) false}}
>
  <:title>Verwijder groep uit domein</:title>
  <:body>
    {{#if this.usageMessage}}
      <AuAlert
        @title="Opgepast"
        @skin="warning"
        @icon="alert-triangle"
        @size={{this.size}}
        @closable={{false}}
      >
        {{this.usageMessage}}
      </AuAlert>
    {{/if}}
    Ben je zeker dat je de groep
    <span class="au-u-medium">{{@group.label}}</span>
    wil verwijderen uit het domein
    <span class="au-u-medium">{{@domain.label}}?</span></:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" (fn (mut this.isDeleteModelOpen) false)}}
      >Annuleer</AuButton>
      <AuButton
        @disabeld={{or this.isDeleting this.isCheckingForUsage}}
        @loading={{or this.isDeleting this.isCheckingForUsage}}
        @loadingMessage={{if
          this.isArchiving
          "Verwijderen"
          "zoeken naar implementaties"
        }}
        @skin="primary"
        @icon={{if this.usageMessage "alert-triangle" "bin"}}
        @alert="true"
        {{on "click" this.deleteGroupFromDomain}}
      >Verwijder</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.isCannotUnArchiveModelOpen}}
  @closable={{true}}
  @closeModal={{fn (mut this.isCannotUnArchiveModelOpen) false}}
>
  <:title>Kan groep niet herstellen</:title>
  <:body>
    <span class="au-u-medium">{{@group.label}} </span>
    kan niet hersteld worden. Zorg dat het bovenliggende domein niet
    gearchiveerd is.
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        {{on "click" (fn (mut this.isCannotUnArchiveModelOpen) false)}}
      >Sluiten</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>

<AuModal
  @modalOpen={{this.isArchiveModelOpen}}
  @closable={{true}}
  @closeModal={{fn (mut this.isArchiveModelOpen) false}}
>
  <:title>Archiveer deze groep</:title>
  <:body>
    {{#if this.usageMessage}}
      <AuAlert
        @title="Opgepast"
        @skin="warning"
        @icon="alert-triangle"
        @size={{this.size}}
        @closable={{false}}
      >
        {{this.usageMessage}}
      </AuAlert>
    {{/if}}
    Ben je zeker dat je de groep
    <span class="au-u-medium">{{@group.label}}</span>
    wil archiveren? Achteraf kan je deze nog altijd terug uit het archief
    herstellen.</:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" (fn (mut this.isArchiveModelOpen) false)}}
      >Annuleer</AuButton>
      <AuButton
        @disabeld={{or this.isArchiving this.isCheckingForUsage}}
        @loading={{or this.isArchiving this.isCheckingForUsage}}
        @loadingMessage={{if
          this.isArchiving
          "Archiveren"
          "zoeken naar implementaties"
        }}
        @icon={{if this.usageMessage "alert-triangle" null}}
        @alert={{true}}
        @skin={{if this.usageMessage "secondary" "primary"}}
        {{on "click" this.archiveGroup}}
      >Archiveer</AuButton>
      {{#if this.usageMessage}}
        <AuButton {{on "click" this.openReplaceModal}}>
          Vervang
        </AuButton>
      {{/if}}
    </AuButtonGroup>
  </:footer>
</AuModal>

<Inventory::ReplaceGroupModal
  @group={{@group}}
  @isOpen={{this.isReplaceModelOpen}}
  @onCancel={{fn (mut this.isReplaceModelOpen) false}}
/>