<AuModal @modalOpen={{@isOpen}} @closable={{true}} @closeModal={{@onCancel}}>
  <:title>Vervang groep in processen</:title>
  <:body>
    De groep
    <span class="au-u-medium">{{@group.label}} </span>
    werd gevonden in een actief inventaris proces. Door hieronder een nieuwe
    groep te selecteren wordt het gebruik van huidige groep in de processen
    vervangen met de nieuwe groep.

    <AuLabel
      @required={{true}}
      class="au-u-margin-top"
    >Procescategorie</AuLabel>
    <PowerSelect
      @placeholder={{if
        this.isLoadingOptions
        "Laden…"
        "Selecteer een categorie"
      }}
      @onChange={{this.setNewProcessCategory}}
      @options={{this.categoryOptions}}
      @selected={{this.newCategory}}
      @searchEnabled={{true}}
      @searchField="label"
      @allowClear={{false}}
      @onOpen={{perform this.loadCategories}}
      @loading={{this.loadCategories.isRunning}}
      as |category|
    >
      {{category.label}}
    </PowerSelect>
  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton {{on "click" @onCancel}}>Annuleer</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>