<AuModal @modalOpen={{@isOpen}} @closable={{true}} @closeModal={{@onCancel}}>
  <:title>Vervang groep in processen</:title>
  <:body>
    De groep
    <span class="au-u-medium">{{@group.label}} </span>
    werd gevonden in een actief inventaris proces. Door hieronder een nieuwe
    groep te selecteren wordt het gebruik van huidige groep in de processen
    vervangen met de nieuwe groep.

    <div class="au-o-flow au-u-margin-top">
      <div>
        <AuLabel for="filter-category">Categorie</AuLabel>
        <Inventory::SelectCategory
          @id="replace-category"
          @selected={{this.newCategory.id}}
          @onChange={{this.setNewProcessCategory}}
        />
      </div>
      <div>
        <AuLabel for="filter-domain">Domein</AuLabel>
        <Inventory::SelectDomain
          @id="filter-domain"
          @selected={{this.newDomain.id}}
          @onChange={{this.setNewProcessDomain}}
          @category={{this.newCategory.id}}
        />
      </div>
    </div>

  </:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton {{on "click" @onCancel}}>Annuleer</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>