<div class={{if @error "ember-power-select--error"}} ...attributes>
  <PowerSelect
    @searchEnabled={{true}}
    @searchField="label"
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @options={{this.groups.value}}
    @selected={{this.selectedGroup.value}}
    @onChange={{this.onChange}}
    @allowClear={{true}}
    @triggerId={{@id}}
    @disabled={{@isDisabled}}
    as |group|
  >
    {{group.label}}
  </PowerSelect>
  {{#if this.selectedGroup.value.isArchived}}
    <AuHelpText @skin="warning" @warning={{true}} class="color--warning">
      <AuIcon
        @icon="alert-triangle"
        @size="small"
        @alignment="right"
      />
      Gearchiveerd
    </AuHelpText>
  {{/if}}
</div>