<div class={{if @error "ember-power-select--error"}} ...attributes>
  <PowerSelect
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @options={{this.categories.value}}
    @selected={{this.selectedCategory.value}}
    @onChange={{this.onChange}}
    @allowClear={{true}}
    @triggerId={{@id}}
    as |category|
  >
    {{category.label}}
  </PowerSelect>
</div>