<div class={{if @error "ember-power-select--error"}} ...attributes>
  <PowerSelect
    @searchEnabled={{true}}
    @searchField="label"
    @loadingMessage="Aan het laden..."
    @noMatchesMessage="Geen resultaten"
    @options={{this.domains.value}}
    @selected={{this.selectedDomain.value}}
    @onChange={{this.onChange}}
    @allowClear={{true}}
    @triggerId={{@id}}
    as |domain|
  >
    {{domain.label}}
  </PowerSelect>
</div>