<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content au-o-box au-o-box--small">
        <form
          {{on "reset" this.resetFilters}}
          class="au-o-grid au-o-grid--small"
        >
          <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuLabel for="filter-name">Filter op naam</AuLabel>
            <BpmnElementSelectByName
              @id="filter-name"
              @selected={{this.name}}
              @onChange={{this.setName}}
              class="grow"
            />
          </div>
          <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuLabel for="filter-type">Filter op type</AuLabel>
            <BpmnElementSelectByType
              @id="filter-type"
              @selected={{this.type}}
              @onChange={{this.setType}}
              class="grow"
            />
          </div>
          <div class="au-o-grid__item">
            <AuButton
              @icon="undo"
              @skin="link"
              type="reset"
              class="au-u-padding-none"
            >
              Herstel alle filters
            </AuButton>
          </div>
        </form>
      </div>
    </div>
  </:sidebar>
  <:content>

    <PageHeader>
      <:title>Processtappen</:title>
      <:subtitle>
        <AuLink @route="help" @skin="secondary" @icon="circle-info">Over BPMN
          bestanden</AuLink>
      </:subtitle>
      <:action></:action>
    </PageHeader>

    <AuDataTable
      @content={{this.bpmnElements}}
      @isLoading={{this.isLoading}}
      @page={{this.page}}
      @size={{this.size}}
      as |t|
    >
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="name"
            @currentSorting={{this.sort}}
            @label="Naam"
          />
          <AuDataTableThSortable
            @field="type"
            @currentSorting={{this.sort}}
            @label="Type"
          />
          <AuDataTableThSortable
            @field="file"
            @currentSorting={{this.sort}}
            @label="BPMN-bestand"
          />
        </c.header>
        {{#if this.hasErrored}}
          <TableMessage::Error />
        {{else if this.hasNoResults}}
          <TableMessage>
            <p>
              Er werden geen zoekresultaten gevonden.
            </p>
          </TableMessage>
        {{else}}
          <c.body as |element|>
            <td>{{or element.name "/"}}</td>
            <td>{{capitalize-first (or element.type.name "/")}}</td>
            <td>
              <LinkTo
                class="au-c-link"
                @model={{element.process.derivation.id}}
                @route="bpmn-files.bpmn-file"
              >
                {{element.process.derivation.name}}
              </LinkTo>
            </td>
          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>
  </:content>
</SidebarContainer>