<PageHeader>
  <:title>
    BPMN-bestand:
    {{@model.metadata.name}}
  </:title>
  <:action>
    <AuButton @skin="secondary">Wijzig</AuButton>
    <a
      class="au-c-button"
      href="{{bpmn-download-url @model.metadata.id @model.metadata.name}}"
      download="{{@model.metadata.name}}"
      target="_blank"
      rel="noopener noreferrer"
    >
      Download
    </a>

  </:action>
</PageHeader>

<DataCard>
  <:title>Metadata</:title>
  <:card as |Card|>
    <Card.Columns>
      <:left as |Item|>
        <Item>
          <:label>Bestandsnaam</:label>
          <:content>
            {{@model.metadata.name}}
          </:content>
        </Item>
        <Item>
          <:label>Aangemaakt op</:label>
          <:content>
            {{date-format @model.metadata.created}}
          </:content>
        </Item>
        <Item>
          <:label>Laatst aangepast op</:label>
          <:content>
            {{date-format @model.metadata.modified}}
          </:content>
        </Item>
      </:left>
      <:right as |Item|>
        <Item>
          <:label>Extensie</:label>
          <:content>
            {{@model.metadata.extension}}
          </:content>
        </Item>
        <Item>
          <:label>Formaat</:label>
          <:content>
            {{@model.metadata.format}}
          </:content>
        </Item>
        <Item>
          <:label>Grootte</:label>
          <:content>
            {{file-size-format @model.metadata.size}}
          </:content>
        </Item>
      </:right>
    </Card.Columns>
  </:card>
</DataCard>

<AuHeading
  @level="3"
  @skin="5"
  class="au-u-margin-bottom-tiny"
>Diagram</AuHeading>
<p class="au-u-para-small au-u-margin-top-none">Klik en hou vast om diagram te
  bewegen. Gebruik ctrl en scrollwiel om in en uit te zoomen.</p>
<BpmnViewer @bpmnXml={{@model.diagram}} />