<div class={{if @error "ember-power-select--error"}}>
  <PowerSelectMultiple
    @searchEnabled={{true}}
    @searchMessage="Typ om te zoeken"
    @loadingMessage="Aan het laden ..."
    @noMatchesMessage="Geen resultaten"
    @options={{this.products}}
    @search={{perform this.loadIpdcProductsTask}}
    @onFocus={{perform this.loadIpdcProductsTask}}
    @selected={{@selected}}
    @onChange={{@onChange}}
    @disabled={{@disabled}}
    as |draftIpdcProduct|
  >
    {{language-string-set-nl draftIpdcProduct.name}}
    ({{draftIpdcProduct.productNumber}})
  </PowerSelectMultiple>
</div>