<DataCard>
  <:title>Bijlagen</:title>

  <:header>
    <AuButtonGroup>
      {{#if @canEdit}}
        <AuDropdown @title="Voeg toe" @skin="secondary" @alignment="center">
          {{! template-lint-disable require-context-role }}
          <AuButton
            role="menuitem"
            @icon="link-external"
            @iconAlignment="left"
            @skin="link"
            {{on "click" (fn (mut this.isAddLinkModalOpen) true)}}
          >
            Link
          </AuButton>
          <AuButton
            role="menuitem"
            @icon="file"
            @iconAlignment="left"
            @skin="link"
            {{on "click" this.openAddModal}}
          >
            Bestand
          </AuButton>
        </AuDropdown>
      {{/if}}
      <AuButton
        @disabled={{not this.attachments}}
        {{on "click" (perform this.downloadAttachments)}}
      >
        Download alle bestanden
      </AuButton>
    </AuButtonGroup>
  </:header>

  <:subheader>
    <AuHelpText @skin="secondary">
      Bijlagen kunnen worden toegevoegd om de informatie asset te verduidelijken
      in alle bestandsformaten.
    </AuHelpText>
  </:subheader>

  <:card>
    <Process::RelevantLinks
      @process={{@informationAsset}}
      @canEdit={{@canEdit}}
      @isAddModalOpen={{this.isAddLinkModalOpen}}
      @onLinkAdded={{fn (mut this.isAddLinkModalOpen) false}}
      @closeModal={{fn (mut this.isAddLinkModalOpen) false}}
    />
    <AuDataTable
      @content={{this.attachments}}
      @isLoading={{this.attachmentsAreLoading}}
      @page={{this.pageAttachments}}
      @size={{this.sizeAttachments}}
      as |t|
    >
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="name"
            @currentSorting={{this.sortAttachments}}
            @label="Bestandsnaam"
            {{on "click" (fn this.updateSort this.sortAttachments)}}
          />
          <AuDataTableThSortable
            @field="size"
            @currentSorting={{this.sortAttachments}}
            @label="Grootte"
            {{on "click" (fn this.updateSort this.sortAttachments)}}
          />
          <AuDataTableThSortable
            @field="extension"
            @currentSorting={{this.sortAttachments}}
            @label="Extensie"
            {{on "click" (fn this.updateSort this.sortAttachments)}}
          />
          <AuDataTableThSortable
            @field="created"
            @currentSorting={{this.sortAttachments}}
            @label="Toegevoegd op"
            {{on "click" (fn this.updateSort this.sortAttachments)}}
          />
          <th></th>
          {{#if @canEdit}}<th></th>{{/if}}
        </c.header>

        {{#if this.attachmentsHaveErrored}}
          <TableMessage::Error />
        {{else if this.attachmentsHaveNoResults}}
          <TableMessage>
            <p>Er werden geen zoekresultaten gevonden.</p>
          </TableMessage>
        {{else}}
          <c.body as |attachment|>
            <td>{{attachment.name}}</td>
            <td>{{file-size-format attachment.size}}</td>
            <td>{{attachment.extension}}</td>
            <td>{{date-format attachment.created true}}</td>
            <td>
              <AuButton
                @icon="download"
                @skin="link"
                @width="block"
                @hideText="true"
                {{on "click" (fn this.downloadFile attachment)}}
              >Download</AuButton>
            </td>
            {{#if @canEdit}}
              <td>
                <AuButton
                  @icon="bin"
                  @skin="naked"
                  @alert="true"
                  @width="block"
                  @hideText="true"
                  {{on "click" (fn this.openDeleteModal attachment)}}
                >Verwijder</AuButton>
              </td>
            {{/if}}
          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>
  </:card>
</DataCard>

<FileUploadModal
  @header="Voeg bijlage toe"
  @title="Bestand selecteren"
  @helpTextDragDrop="Bestand wordt meteen toegevoegd aan bibliotheek na selectie"
  @multiple="true"
  @modelName="Informatie asset"
  @updateModel={{this.addFileToIcr}}
  @onFinishUpload={{this.attachmentsUploaded}}
  @modalOpen={{this.addModalOpened}}
  @closeModal={{this.closeAddModal}}
/>

<AuModal
  @modalOpen={{this.deleteModalOpened}}
  @closeModal={{this.closeDeleteModal}}
>
  <:title>Verwijder {{this.fileToDelete.name}}</:title>
  <:body>Ben je zeker dat je dit bestand uit de bibliotheek wil verwijderen?</:body>
  <:footer>
    <AuButtonGroup class="au-u-flex--end">
      <AuButton
        @skin="secondary"
        {{on "click" this.closeDeleteModal}}
      >Annuleer</AuButton>
      <AuButton
        @skin="primary"
        @icon="bin"
        @alert="true"
        {{on "click" (perform this.deleteFile)}}
      >Verwijder</AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>