<div class={{if @error "ember-power-select--error" "assets-multiple-select"}}>
  <PowerSelectMultiple
    @searchEnabled="true"
    @searchMessage="Typ om te zoeken"
    @loadingMessage="Aan het laden ..."
    @noMatchesMessage="Geen resultaten"
    @search={{perform this.loadInformationAssetsTask}}
    @selected={{@selected}}
    @onChange={{@onChange}}
    @searchField="title"
    as |asset|
  >
    {{asset.title}}
    {{#if asset.isDraft}}
      ⌛ (Concept)
    {{else}}
      ✅ (Gepubliceerd)
    {{/if}}
  </PowerSelectMultiple>
</div>