<div class={{if @error "ember-power-select--error" "assets-multiple-select"}}>
  <PowerSelectMultiple
    @searchEnabled="true"
    @searchMessage="Typ om te zoeken"
    @loadingMessage="Aan het laden ..."
    @noMatchesMessage="Geen resultaten"
    @search={{perform this.loadInformationAssetsTask}}
    @selected={{@selected}}
    @onChange={{@onChange}}
    @searchField="title"
    as |asset|
  >
    {{asset.title}}
    {{#if asset.isDraft}}
      <AuPill
        @skin="default"
        @icon="clock"
        @size="small"
        class="au-u-margin-left-tiny"
      >
        Concept
      </AuPill>
    {{else}}
      <AuPill @skin="success" @size="small" class="au-u-margin-left-tiny">
        Gepubliceerd
      </AuPill>
    {{/if}}

  </PowerSelectMultiple>
</div>