<div class="icr-score" id="{{@id}}">
  {{#each this.allowedScores as |score|}}
    {{#if (and @onScoreChange (not @readonly))}}
      {{! template-lint-disable no-invalid-interactive }}
      <img
        src={{this.getSvgPath score (eq score @selectedScore)}}
        alt={{score}}
        {{on "mouseenter" (fn this.onMouseEnter score)}}
        {{on "mouseleave" this.onMouseLeave}}
        {{on "click" (fn this.onMouseClick score)}}
      />
    {{else}}
      <img
        src={{this.getSvgPath score (eq score @selectedScore)}}
        alt={{score}}
      />
    {{/if}}
  {{/each}}
</div>