<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <form
          {{on "reset" this.resetFilters}}
          class="au-o-box au-o-box--small au-o-flow au-o-flow--small au-u-padding"
        >
          <h1 class="au-u-h3 au-u-medium">Filters</h1>
          <div>
            <AuLabel for="filter-title">Titel of beschrijving</AuLabel>
            <ProcessSelectByTitle
              @id="filter-title"
              @selected={{this.title}}
              @onChange={{this.setTitle}}
              class="grow"
            />
          </div>
          <div>
            <AuLabel for="filter-availability">Beschikbaarheid</AuLabel>
            <Process::IcrCard::Score
              @id="filter-availability"
              @selectedScore={{this.availabilityScore}}
              @onScoreChange={{fn (mut this.availabilityScore)}}
            />
          </div>
          <div>
            <AuLabel for="filter-availability">Integriteit</AuLabel>
            <Process::IcrCard::Score
              @id="filter-integrity"
              @selectedScore={{this.integrityScore}}
              @onScoreChange={{fn (mut this.integrityScore)}}
            />
          </div>
          <div>
            <AuLabel for="filter-availability">Confidentialiteit</AuLabel>
            <Process::IcrCard::Score
              @id="filter-confidentiality"
              @selectedScore={{this.confidentialityScore}}
              @onScoreChange={{fn (mut this.confidentialityScore)}}
            />
          </div>
          <div class="au-c-control-group">
            <AuLabel>Persoonsgegevens</AuLabel>
            <AuCheckbox
              id="filter-professional-data"
              @checked={{this.containsProfessionalData}}
              @onChange={{this.setContainsProfessionalData}}
            >
              <label for="filter-professional-data">Professionele gegevens
              </label>
            </AuCheckbox>
            <AuCheckbox
              id="filter-personal-data"
              @checked={{this.containsPersonalData}}
              @onChange={{this.setContainsPersonalData}}
            >
              <label for="filter-personal-data">Persoonsgegevens
              </label>
            </AuCheckbox>
            <AuCheckbox
              id="filter-sensitive-data"
              @checked={{this.containsSensitivePersonalData}}
              @onChange={{this.setContainsSensitivePersonalData}}
            >
              <label for="filter-sensitive-data">Bijzondere persoonsgegevens
              </label>
            </AuCheckbox>
          </div>
          <div class="au-u-flex au-u-flex--end">
            <AuButton
              @icon="cross"
              @skin="link"
              type="reset"
              class="au-u-padding-none au-u-medium"
            >
              Herstel alle filters
            </AuButton>
          </div>
        </form>
      </div>
    </div>
  </:sidebar>
  <:content>
    <PageHeader>
      <:title>Informatie assets</:title>
      <:action>
        {{#if this.currentSession.isAdmin}}
          <AuButton
            @icon="add"
            iconAlignment="left"
            {{on "click" this.openNewModal}}
          >Nieuwe informatie asset</AuButton>
        {{/if}}
      </:action>
    </PageHeader>
    <AuDataTable
      @content={{this.informationAssets}}
      @isLoading={{this.isLoading}}
      @page={{this.page}}
      @size={{this.size}}
      @noDataMessage={{this.noDataMessage}}
      as |t|
    >
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="title"
            @currentSorting={{this.sort}}
            @label="Titel"
          />
          <AuDataTableThSortable
            @field="description"
            @currentSorting={{this.sort}}
            @label="Beschrijving"
          />
          <AuDataTableThSortable
            @field="creator"
            @currentSorting={{this.sort}}
            @label="Auteur"
          />
          <AuDataTableThSortable
            @field="availabilityScore"
            @currentSorting={{this.sort}}
            @label="Beschikbaarheid"
          />
          <AuDataTableThSortable
            @field="integrityScore"
            @currentSorting={{this.sort}}
            @label="Integriteit"
          />
          <AuDataTableThSortable
            @field="confidentialityScore"
            @currentSorting={{this.sort}}
            @label="Confidentialiteit"
          />
          <th>
            <span>Persoonsgegevens</span>
          </th>
          <AuDataTableThSortable
            @field="created"
            @currentSorting={{this.sort}}
            @label="Aangemaakt op"
          />
          {{#if this.canEdit}}
            <th>
              <span class="au-u-hidden au-u-sr-only">Wijzig</span>
            </th>
            <th>
              <span class="au-u-hidden au-u-sr-only">Verwijder</span>
            </th>
          {{/if}}
        </c.header>
        {{#if this.hasErrored}}
          <TableMessage::Error />
        {{else if this.hasNoResults}}
          <TableMessage>
            <p>
              Er werden geen zoekresultaten gevonden.
            </p>
          </TableMessage>
        {{else}}
          <c.body as |informationAsset|>
            <td>
              <LinkTo
                class="au-c-link"
                @model={{informationAsset.id}}
                @route="information-assets.edit"
                @query={{hash edit=null}}
              >
                {{informationAsset.title}}
              </LinkTo>
            </td>
            <td>{{or (truncate informationAsset.description 150 true) "/"}}</td>
            <td>
              {{informationAsset.creator.name}}
            </td>
            <td>
              {{if
                informationAsset.availabilityScore
                informationAsset.availabilityScore
                "-"
              }}
            </td>
            <td>
              {{if
                informationAsset.integrityScore
                informationAsset.integrityScore
                "-"
              }}
            </td>
            <td>
              {{if
                informationAsset.confidentialityScore
                informationAsset.confidentialityScore
                "-"
              }}
            </td>
            <td>
              <div class="au-u-flex au-u-flex--column au-u-flex--spaced-tiny">
                {{#if informationAsset.containsProfessionalData}}
                  <span class="au-u-flex au-u-flex--spaced-tiny"><AuBadge
                      @skin="brand"
                      @icon="check"
                      @size="small"
                    />Professionele gegevens</span>
                {{/if}}
                {{#if informationAsset.containsPersonalData}}
                  <span class="au-u-flex au-u-flex--spaced-tiny"><AuBadge
                      @skin="brand"
                      @icon="check"
                      @size="small"
                    />Persoonsgegevens</span>
                {{/if}}
                {{#if informationAsset.containsSensitivePersonalData}}
                  <span class="au-u-flex au-u-flex--spaced-tiny"><AuBadge
                      @skin="brand"
                      @icon="check"
                      @size="small"
                    />Bijzondere persoonsgegevens
                  </span>
                {{/if}}
              </div>
            </td>
            <td>{{date-format informationAsset.created}}</td>
            {{#if this.canEdit}}
              <td>
                <div class="au-u-flex au-u-flex--center">
                  <AuLink
                    @route="information-assets.edit"
                    @model={{informationAsset.id}}
                    @query={{hash edit=true}}
                    @skin="button-naked"
                  >Wijzig</AuLink>
                </div>
              </td>
              <td>
                <div class="au-u-flex au-u-flex--center">
                  <AuButton
                    @skin="naked"
                    @alert="true"
                    {{on "click" (fn this.openDeleteModal informationAsset)}}
                  >Verwijder</AuButton>
                </div>
              </td>
            {{/if}}
          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>
  </:content>
</SidebarContainer>

{{#if this.canEdit}}
  <Shared::DeleteModal
    @isModalOpen={{this.isDeleteModalOpen}}
    @closeModal={{this.closeDeleteModal}}
    @onDelete={{fn (perform this.onDeleteAsset)}}
    @type="informatie asset"
    @isLoading={{this.onDeleteAsset.isRunning}}
    @title={{this.informationAssetToDelete.title}}
  />

  <Process::IcrModal
    @selected={{this.informationAsset}}
    @modalOpen={{this.isCreateModalOpen}}
    @closeModal={{this.closeNewModal}}
  />
{{/if}}