{{breadcrumb
  this.breadcrumbParentTitle
  route=this.breadcrumbParentRoute
  model=this.breadcrumbParentModel
}}
{{breadcrumb
  (if this.versionedAsset.isArchived "Archief " "Bewerk ")
  this.versionedAsset.title
  route="information-assets.information-asset"
  model=this.versionedAsset.id
}}

<PageHeader>
  <:title>
    <div class="au-u-flex au-u-flex--vertical-center">
      {{this.versionedAsset.title}}
      <AuButton
        class="au-u-padding-left-small"
        @icon="link"
        @skin="link"
        @hideText={{true}}
        {{on "click" this.copyUrl}}
      /></div>
  </:title>
  <:action>
    {{#if this.versionedAsset.isArchived}}
      <AuPill @icon="clock-rewind">Gearchiveerd op
        {{date-format this.versionedAsset.modified true}}</AuPill>
    {{else}}
      <AuPill @icon="clock-rewind" @skin="success">Aangemaakt op
        {{date-format this.versionedAsset.created true}}</AuPill>
    {{/if}}
  </:action>
</PageHeader>

<AuBodyContainer class="au-o-box au-o-flow" @scroll={{true}}>
  <div class="au-o-grid au-o-grid--small">
    <div class="au-o-grid__item au-u-4-6@medium">

      {{#if (and this.edit this.canEdit)}}
        <DataCard class="u-color-top-border-gray">
          <:title>Informatieclassificatie</:title>
          <:header>
            <AuButton
              @skin="naked"
              {{on "click" this.cancelEdit}}
            >Annuleer</AuButton>
            <AuButton
              @skin="primary"
              @icon="check"
              @loading={{this.saveChanges.isRunning}}
              {{on "click" (perform this.saveChanges)}}
              @disabled={{not this.formIsValid}}
            >Opslaan</AuButton>
          </:header>
          <:card as |Card|>
            <Card.Columns
              class="au-u-flex au-u-flex--spaced-small au-u-flex--wrap"
            >
              <:left as |Item|>
                <Item>
                  <:label>
                    <AuLabel
                      @error={{this.errorMessage}}
                      @required={{true}}
                      for="edit-information-asset"
                    >Titel</AuLabel>
                  </:label>
                  <:content>
                    <AuInput
                      id="edit-information-asset"
                      value={{this.canonicalAsset.title}}
                      {{on "input" this.setTitle}}
                      @width="block"
                      @error={{this.errorMessageTitle}}
                    />
                    {{#if this.errorMessageTitle}}
                      <AuHelpText @error="true">
                        {{this.errorMessageTitle}}
                      </AuHelpText>
                    {{/if}}
                  </:content>
                </Item>
                <Item>
                  <:label>Beschrijving</:label>
                  <:content>
                    <AuTextarea
                      @width="block"
                      rows="8"
                      value={{this.canonicalAsset.description}}
                      {{on "input" this.setDescription}}
                    />
                  </:content>
                </Item>
                <Item>
                  <:label>Aangemaakt door</:label>
                  <:content>
                    {{or this.canonicalAsset.creator.name "/"}}
                  </:content>
                </Item>
              </:left>
              <:right as |Item|>
                <Item>
                  <:label>Beschikbaarheid</:label>
                  <:content>
                    <Process::IcrCard::Score
                      @onScoreChange={{fn
                        (mut this.canonicalAsset.availabilityScore)
                      }}
                      @selectedScore={{this.canonicalAsset.availabilityScore}}
                    />
                  </:content>
                </Item>
                <Item>
                  <:label>Integriteit</:label>
                  <:content>
                    <Process::IcrCard::Score
                      @onScoreChange={{fn
                        (mut this.canonicalAsset.integrityScore)
                      }}
                      @selectedScore={{this.canonicalAsset.integrityScore}}
                    />
                  </:content>
                </Item>
                <Item>
                  <:label>Vertrouwelijkheid</:label>
                  <:content>
                    <Process::IcrCard::Score
                      @onScoreChange={{fn
                        (mut this.canonicalAsset.confidentialityScore)
                      }}
                      @selectedScore={{this.canonicalAsset.confidentialityScore}}
                    />
                  </:content>
                </Item>
                <Item>
                  <:label>Persoonsgegevens</:label>
                  <:content>
                    <div
                      class="au-u-flex au-u-flex--column au-u-flex--spaced-small"
                    >
                      <AuCheckbox
                        id="contains-personal-data"
                        @onChange={{fn
                          (mut this.canonicalAsset.containsProfessionalData)
                        }}
                        @checked={{this.canonicalAsset.containsProfessionalData}}
                      >
                        <label for="contains-personal-data">Professionele
                          gegevens</label>
                        <Shared::Tooltip
                          @show={{true}}
                          @text="Gegevens waarmee een persoon professioneel kan worden bereikt bijvoorbeeld professioneel telefoonnummer/e-mailadres, postadres van de organisatie."
                          @placement="top"
                        >
                          <AuIcon
                            class="color--info"
                            @icon="circle-question"
                            @size="large"
                            @alignment="right"
                          />
                        </Shared::Tooltip>
                      </AuCheckbox>
                      <AuCheckbox
                        id="contains-professional-data"
                        @onChange={{fn
                          (mut this.canonicalAsset.containsPersonalData)
                        }}
                        @checked={{this.canonicalAsset.containsPersonalData}}
                      >
                        <label
                          for="contains-professional-data"
                        >Persoonsgegevens</label>
                        <Shared::Tooltip
                          @show={{true}}
                          @text="Gegevens die direct of indirect een persoon identificeren bijvoorbeeld geboortedatum, foto, naam, thuisadres."
                        >
                          <AuIcon
                            class="color--info"
                            @icon="circle-question"
                            @size="large"
                            @alignment="right"
                          />
                        </Shared::Tooltip>
                      </AuCheckbox>
                      <AuCheckbox
                        id="contains-sensitive-personal-data"
                        @onChange={{fn
                          (mut
                            this.canonicalAsset.containsSensitivePersonalData
                          )
                        }}
                        @checked={{this.canonicalAsset.containsSensitivePersonalData}}
                      >
                        <label for="contains-sensitive-personal-data">Bijzondere
                          persoonsgegevens</label>
                        <Shared::Tooltip
                          @show={{true}}
                          @text="Gevoelige gegevens die extra bescherming vereisen bijvoorbeeld medische gegevens, religieuze overtuiging, etnische achtergrond, biometrische gegevens."
                        >
                          <AuIcon
                            class="color--info"
                            @icon="circle-question"
                            @size="large"
                            @alignment="right"
                          />
                        </Shared::Tooltip>
                      </AuCheckbox>
                    </div>
                  </:content>
                </Item>
              </:right>
            </Card.Columns>
          </:card>
        </DataCard>
      {{else}}
        <DataCard
          class={{if
            this.versionedAsset.isArchived
            "u-color-top-border-gray"
            "u-color-top-border-yellow"
          }}
        >
          <:title>
            Informatieclassificatie
          </:title>
          <:header>
            {{#if this.versionedAsset.isArchived}}
              <AuPill @icon="clock-rewind">Gearchiveerd </AuPill>
            {{else}}
              {{#if this.canEdit}}
                <AuButton
                  @skin="naked"
                  @icon="pencil"
                  {{on "click" this.toggleEdit}}
                >Wijzig</AuButton>
                <AuButton
                  @skin="naked"
                  @icon="trash"
                  @alert="true"
                  {{on "click" this.openDeleteModal}}
                >Verwijder</AuButton>
              {{/if}}
            {{/if}}
          </:header>
          <:card as |Card|>
            <Card.Columns
              class="au-u-flex au-u-flex--spaced-small au-u-flex--wrap"
            >
              <:left as |Item|>
                <Item>
                  <:label>Titel</:label>
                  <:content>
                    {{or this.versionedAsset.title "/"}}
                  </:content>
                </Item>
                <Item>
                  <:label>Beschrijving</:label>
                  <:content>
                    <span class="u-preserve-line-breaks">{{or
                        (trim this.versionedAsset.description)
                        "/"
                      }}</span>
                  </:content>
                </Item>
                <Item>
                  <:label>Aangemaakt door</:label>
                  <:content>{{or this.versionedAsset.creator.name "/"}}
                  </:content>
                </Item>

              </:left>
              <:right as |Item|>
                <Item>
                  <:label>Beschikbaarheid</:label>
                  <:content>
                    <Process::IcrCard::Score
                      @selectedScore={{this.versionedAsset.availabilityScore}}
                    />
                  </:content>
                </Item>
                <Item>
                  <:label>Integriteit</:label>
                  <:content>
                    <Process::IcrCard::Score
                      @selectedScore={{this.versionedAsset.integrityScore}}
                    />
                  </:content>
                </Item>
                <Item>
                  <:label>Vertrouwelijkheid</:label>
                  <:content>
                    <Process::IcrCard::Score
                      @selectedScore={{this.versionedAsset.confidentialityScore}}
                    />
                  </:content>
                </Item>
                <Item>
                  <:label>Persoonsgegevens</:label>
                  <:content>
                    <div
                      class="au-u-flex au-u-flex--column au-u-flex--spaced-small"
                    >
                      <AuCheckbox
                        id="contains-personal-data"
                        @checked={{this.versionedAsset.containsProfessionalData}}
                        @disabled={{true}}
                      >
                        <label for="contains-personal-data">Professionele
                          gegevens</label>
                        <Shared::Tooltip
                          @show={{true}}
                          @text="Gegevens waarmee een persoon professioneel kan worden bereikt bijvoorbeeld professioneel telefoonnummer/e-mailadres, postadres van de organisatie."
                          @placement="top"
                        >
                          <AuIcon
                            class="color--info"
                            @icon="circle-question"
                            @size="large"
                            @alignment="right"
                          />
                        </Shared::Tooltip>
                      </AuCheckbox>
                      <AuCheckbox
                        id="contains-professional-data"
                        @checked={{this.versionedAsset.containsPersonalData}}
                        @disabled={{true}}
                      >
                        <label
                          for="contains-professional-data"
                        >Persoonsgegevens</label>
                        <Shared::Tooltip
                          @show={{true}}
                          @text="Gegevens die direct of indirect een persoon identificeren bijvoorbeeld geboortedatum, foto, naam, thuisadres."
                        >
                          <AuIcon
                            class="color--info"
                            @icon="circle-question"
                            @size="large"
                            @alignment="right"
                          />
                        </Shared::Tooltip>
                      </AuCheckbox>
                      <AuCheckbox
                        id="contains-sensitive-personal-data"
                        @checked={{this.versionedAsset.containsSensitivePersonalData}}
                        @disabled={{true}}
                      >
                        <label for="contains-sensitive-personal-data">Bijzondere
                          persoonsgegevens</label>
                        <Shared::Tooltip
                          @show={{true}}
                          @text="Gevoelige gegevens die extra bescherming vereisen bijvoorbeeld medische gegevens, religieuze overtuiging, etnische achtergrond, biometrische gegevens."
                        >
                          <AuIcon
                            class="color--info"
                            @icon="circle-question"
                            @size="large"
                            @alignment="right"
                          />
                        </Shared::Tooltip>
                      </AuCheckbox>
                    </div>
                  </:content>
                </Item>
              </:right>
            </Card.Columns>
          </:card>
        </DataCard>
      {{/if}}

      <br />
      <Icr::Attachments
        @canEdit={{this.canEdit}}
        @informationAsset={{this.canonicalAsset}}
        @page={{this.pageAttachments}}
        @size={{this.sizeAttachments}}
        @sort={{this.sortAttachments}}
      />
    </div>
    <aside class="au-o-grid__item au-u-2-6@medium">
      <div class="u-top-sticky">
        <AuContent class="au-u-margin-top">
          <h2 class="au-u-h4 au-u-medium">
            Gelinkte
            <AuLink @route="processes">processen</AuLink>
          </h2>
          <AuHr @size="default" class="au-u-margin-top-small" />
          {{#if this.canonicalAsset.processes.length}}
            {{#each this.canonicalAsset.processes as |process|}}
              <AuPill class="au-u-margin-top-small">
                <AuLink @route="processes.process" @model={{process.id}}>
                  {{process.title}}
                </AuLink>
              </AuPill>
            {{/each}}
          {{else}}
            <p class="au-u-margin-top-small">Geen processen gevonden</p>
          {{/if}}
        </AuContent>
      </div>
    </aside>
  </div>
</AuBodyContainer>

{{#if this.canEdit}}
  <Shared::DeleteModal
    @isModalOpen={{this.isDeleteModalOpen}}
    @closeModal={{this.closeDeleteModal}}
    @onDelete={{fn (perform this.onDeleteAsset)}}
    @type="informatie asset"
    @isLoading={{this.onDeleteAsset.isRunning}}
    @title={{this.canonicalAsset.title}}
  />
{{/if}}