{{page-title "Beheer inventaris processsen"}}
{{breadcrumb "Beheer" route="inventory.admin"}}

<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar au-o-box">
      <div>
        <AuHeading @skin="5" class="au-u-muted au-u-margin-bottom-small">
          Categorieën
        </AuHeading>
        <AuList @divider={{false}} as |Item|>
          {{#each @model.categories as |category|}}
            <Item {{on "click" (fn this.scrollToCategory category)}}>
              {{category.label}}
            </Item>
          {{/each}}
        </AuList>
      </div>
    </div>
  </:sidebar>
  <:content>
    <AuToolbar
      @size="large"
      class="au-u-padding-bottom-none au-u-margin-bottom-none"
      as |Group|
    >
      <Group class="au-u-margin-bottom-none">
        <AuHeading @skin="2">
          Beheer inventaris processen
        </AuHeading>
      </Group>
    </AuToolbar>
    <AuToolbar
      @size="large"
      class="au-u-padding-bottom-none au-u-margin-bottom-none"
      as |Group|
    >
      <Group class="au-u-margin-bottom-none">
        <AuButton
          @skin="secondary"
          @icon="add"
          iconAlignment="left"
          {{on "click" (fn (mut this.isNewCategoryModalOpen) true)}}
        >
          Nieuwe categorie
        </AuButton>
      </Group>
    </AuToolbar>
    <div class="au-o-box">
      {{#each @model.categories as |category|}}
        <section id={{category.id}}>
          <CollapsibleContainer
            class="au-u-margin-small"
            @isCollapsedOnLoad={{true}}
          >
            <:title>{{category.label}}</:title>
            <:action>
              <AuButton
                @skin="naked"
                @icon="add"
                iconAlignment="left"
                {{on "click" (fn this.openCreateDomainModal category)}}
              >
                Nieuw domein
              </AuButton>
            </:action>
            <:default>
              <Inventory::TableViewDomains @category={{category}} />
            </:default>
          </CollapsibleContainer>
        </section>
      {{/each}}
    </div>
  </:content>
</SidebarContainer>

{{#if this.isNewCategoryModalOpen}}
  <Inventory::CreateCategoryModal
    @isModalOpen={{this.isNewCategoryModalOpen}}
    @onCloseModal={{fn (mut this.isNewCategoryModalOpen) false}}
  />
{{/if}}
{{#if this.isNewDomainModalOpen}}
  <Inventory::CreateDomainModal
    @isModalOpen={{this.isNewDomainModalOpen}}
    @onCloseModal={{this.onCloseCreateDomainModal}}
    @category={{this.createForCategory}}
  />
{{/if}}