{{page-title "Beheer inventaris processsen"}}
{{breadcrumb "Beheer" route="inventory.admin"}}

<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar au-o-box">
      <div>
        <AuHeading @skin="5" class="au-u-muted au-u-margin-bottom-small">
          Categorieën
        </AuHeading>
        <AuList @divider={{false}} as |Item|>
          {{#each @model.categories as |category|}}
            <Item>
              {{category.label}}
            </Item>
          {{/each}}
        </AuList>
      </div>
    </div>
  </:sidebar>
  <:content>
    <AuToolbar
      @size="large"
      class="au-u-padding-bottom-none au-u-margin-bottom-none"
      as |Group|
    >
      <Group class="au-u-margin-bottom-none">
        <AuHeading @skin="2">
          Beheer inventaris processen
        </AuHeading>
      </Group>
    </AuToolbar>
    <AuToolbar
      @size="large"
      class="au-u-padding-bottom-none au-u-margin-bottom-none"
      as |Group|
    >
      <Group class="au-u-margin-bottom-none">
        <AuButton @skin="secondary" @icon="add" iconAlignment="left">
          Nieuwe categorie
        </AuButton>
      </Group>
    </AuToolbar>
    <div class="au-o-box">
      {{#each @model.categories as |category|}}
        <CollapsibleContainer
          class="au-u-margin-small"
          @isCollapsedOnLoad={{true}}
        >
          <:title>{{category.label}}</:title>
          <:action>
            <AuButton @skin="naked" @icon="add" iconAlignment="left">
              Nieuw domein
            </AuButton>
          </:action>
          <:default>
            <Inventory::TableViewDomains @category={{category}} />
          </:default>
        </CollapsibleContainer>
      {{/each}}
    </div>
  </:content>
</SidebarContainer>