<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
    </div>
  </:sidebar>
  <:content>
    <PageHeader>
      <:title>Inventaris processen Lokale Besturen</:title>
      <:subtitle>
        <AuLinkExternal href="https://abb-vlaanderen.gitbook.io/informatie-oph">
          Handleiding Open Proces Huis
        </AuLinkExternal>
      </:subtitle>
      <:action>
        {{#if this.currentSession.isAdmin}}
          <AuButton
            @skin="secondary"
            @icon="add"
            iconAlignment="left"
            {{on "click" this.addNewInventoryProcess}}
          >Nieuw hoofdproces</AuButton>
        {{/if}}
        <AuButton
          @skin="primary"
          @icon="download"
          iconAlignment="left"
          {{on "click" this.downloadProcesses}}
        >Download</AuButton>
      </:action>
    </PageHeader>

    <AuDataTable
      @content={{this.conceptualProcesses}}
      @isLoading={{this.isLoading}}
      @page={{this.page}}
      @size={{this.size}}
      as |t|
    >
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="category"
            @currentSorting={{this.sort}}
            @label="Categorie"
          />
          <AuDataTableThSortable
            @field="domain"
            @currentSorting={{this.sort}}
            @label="Procesdomein"
          />
          <AuDataTableThSortable
            @field="group"
            @currentSorting={{this.sort}}
            @label="Procesgroep"
          />
          <AuDataTableThSortable
            @field="title"
            @currentSorting={{this.sort}}
            @label="Hoofdproces"
          />
          <AuDataTableThSortable
            @field="number"
            @currentSorting={{this.sort}}
            @label="Nummer"
          />
        </c.header>
        {{#if this.hasErrored}}
          <TableMessage::Error />
        {{else if this.hasNoResults}}
          <TableMessage>
            <p>
              Er werden geen zoekresultaten gevonden.
            </p>
          </TableMessage>
        {{else}}
          <c.body as |conceptualProcess|>
            <td
            >{{conceptualProcess.processGroup.processDomain.processCategory.label}}</td>
            <td>{{conceptualProcess.processGroup.processDomain.label}}</td>
            <td>{{conceptualProcess.processGroup.label}}</td>
            <td>{{conceptualProcess.title}}</td>
            <td>
              <div class="au-u-flex au-u-flex--row au-u-flex--vertical-center">
                <span
                  class="inventory-process-number"
                >{{conceptualProcess.number}}</span>
                {{#if this.currentSession.isAdmin}}

                  <AuButtonGroup
                    @inline={{true}}
                    class="inventory-row-button-group"
                  >
                    <AuButton
                      @icon="pencil"
                      @skin="naked"
                      @size="large"
                      {{on
                        "click"
                        (fn this.editInventoryProcess conceptualProcess)
                      }}
                    />
                    <AuButton
                      @icon="bin"
                      @skin="naked"
                      @size="large"
                      @alert={{true}}
                      {{on "click" (fn this.openDeleteModal conceptualProcess)}}
                    />
                  </AuButtonGroup>
                {{/if}}
              </div>
            </td>
          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>

    {{#if this.isModalOpen}}
      <form {{on "submit" (perform this.saveInventoryProcess)}}>
        <AuModal
          @modalOpen={{this.isModalOpen}}
          @closeModal={{this.closeModal}}
        >
          <:title>{{if
              this.isEditing
              "Bewerk inventaris proces"
              "Voeg nieuw inventaris proces toe"
            }}</:title>
          <:body>

            <AuLabel>Titel</AuLabel>
            <AuInput
              @width="block"
              value={{this.currentProcess.title}}
              {{on "input" this.setTitle}}
            />

            <AuLabel class="au-u-margin-top">Procesgroep</AuLabel>
            <PowerSelect
              @placeholder="Selecteer een groep"
              @onChange={{this.handleProcessGroupChange}}
              @options={{this.availableGroups}}
              @selected={{this.processGroup}}
              @searchEnabled={{true}}
              @searchField="label"
              as |group|
            >
              {{group.label}}
            </PowerSelect>

            <AuLabel class="au-u-margin-top">Procesdomein</AuLabel>
            <PowerSelect
              @placeholder="Selecteer een domein"
              @onChange={{this.handleProcessDomainChange}}
              @options={{this.availableDomains}}
              @selected={{this.processDomain}}
              @searchEnabled={{true}}
              @searchField="label"
              as |domain|
            >
              {{domain.label}}
            </PowerSelect>

            <AuLabel class="au-u-margin-top">Procescategorie</AuLabel>
            <PowerSelect
              @placeholder="Selecteer een categorie"
              @onChange={{this.handleProcessCategoryChange}}
              @options={{this.categories}}
              @selected={{this.processCategory}}
              @searchEnabled={{true}}
              @searchField="label"
              as |category|
            >
              {{category.label}}
            </PowerSelect>

          </:body>
          <:footer>
            <AuButtonGroup class="au-u-flex--end">
              {{#if this.showResetButton}}
                <AuButton
                  @skin="naked"
                  @icon="redo"
                  {{on "click" this.clearSelections}}
                >
                  Herstel keuzes</AuButton>
              {{/if}}
              <AuButton
                @skin="secondary"
                {{on "click" this.closeModal}}
              >Annuleer</AuButton>
              <AuButton
                @skin="primary"
                @disabled={{not this.canSave}}
                {{on "click" (perform this.saveInventoryProcess)}}
              >Opslaan</AuButton>

            </AuButtonGroup>
          </:footer>
        </AuModal>
      </form>
    {{/if}}

    {{#if this.isDeleteModalOpen}}
      <AuModal
        @modalOpen={{this.isDeleteModalOpen}}
        @closeModal={{this.closeModal}}
      >
        <:title>Verwijder proces</:title>
        <:body>
          Weet u zeker dat u het proces
          <strong>{{this.processToDelete.title}}</strong>
          wilt verwijderen?
        </:body>
        <:footer>
          <AuButtonGroup class="au-u-flex--end">
            <AuButton
              @skin="naked"
              {{on "click" this.closeModal}}
            >Annuleer</AuButton>
            <AuButton
              @skin="primary"
              @alert={{true}}
              {{on "click" (perform this.deleteInventoryProcess)}}
            >Verwijderen</AuButton>

          </AuButtonGroup>
        </:footer>
      </AuModal>
    {{/if}}
  </:content>
</SidebarContainer>