<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
    </div>
  </:sidebar>
  <:content>
    <PageHeader>
      <:title>Inventaris processen Lokale Besturen</:title>
      <:subtitle>
        <AuLinkExternal href="https://abb-vlaanderen.gitbook.io/informatie-oph">
          Handleiding Open Proces Huis
        </AuLinkExternal>
      </:subtitle>
      <:action>
        {{#if this.currentSession.isAdmin}}
          <AuButton
            @skin="secondary"
            @icon="add"
            iconAlignment="left"
            {{on "click" this.addNewInventoryProcess}}
          >Nieuw hoofdproces</AuButton>
        {{/if}}
        <AuButton
          @skin="primary"
          @icon="download"
          iconAlignment="left"
          {{on "click" (fn (mut this.isDownloadModalOpen) true)}}
        >Download</AuButton>
      </:action>
    </PageHeader>

    {{#if @model.couldNotFetchTableContent}}
      <TableMessage::Error />
    {{else}}
      <AuDataTable
        @content={{@model.tableContent.content}}
        @page={{this.page}}
        @size={{this.size}}
        @noDataMessage="Er werden geen zoekresultaten gevonden."
        as |t|
      >
        <t.content class="au-c-data-table__table--small" as |c|>
          <c.header>
            {{#each @model.tableContent.sortableHeaderLabels as |header|}}
              <AuDataTableThSortable
                @field={{header.sortProperty}}
                @currentSorting={{this.sort}}
                @label={{header.label}}
              />
            {{/each}}
          </c.header>
          <c.body as |conceptualProcess|>
            <InventoryProcessTableRow
              @process={{conceptualProcess}}
              @labels={{@model.tableContent.headerLabels}}
              @onEditInventoryProcess={{this.editInventoryProcess}}
              @onOpenDeleteModal={{this.openDeleteModal}}
            />
          </c.body>
        </t.content>
      </AuDataTable>
    {{/if}}
    {{#if this.isModalOpen}}
      <form {{on "submit" (perform this.saveInventoryProcess)}}>
        <AuModal
          @modalOpen={{this.isModalOpen}}
          @closeModal={{this.closeModal}}
        >
          <:title>{{if
              this.isEditing
              "Bewerk inventaris proces"
              "Voeg nieuw inventaris proces toe"
            }}</:title>
          <:body>

            <AuLabel>Titel</AuLabel>
            <AuInput
              @width="block"
              value={{this.currentProcess.title}}
              {{on "input" this.setTitle}}
            />

            <AuLabel class="au-u-margin-top">Procesgroep</AuLabel>
            <PowerSelect
              @placeholder="Selecteer een groep"
              @onChange={{this.handleProcessGroupChange}}
              @options={{this.availableGroups}}
              @selected={{this.processGroup}}
              @searchEnabled={{true}}
              @searchField="label"
              as |group|
            >
              {{group.label}}
            </PowerSelect>

            <AuLabel class="au-u-margin-top">Procesdomein</AuLabel>
            <PowerSelect
              @placeholder="Selecteer een domein"
              @onChange={{this.handleProcessDomainChange}}
              @options={{this.availableDomains}}
              @selected={{this.processDomain}}
              @searchEnabled={{true}}
              @searchField="label"
              as |domain|
            >
              {{domain.label}}
            </PowerSelect>

            <AuLabel class="au-u-margin-top">Procescategorie</AuLabel>
            <PowerSelect
              @placeholder="Selecteer een categorie"
              @onChange={{this.handleProcessCategoryChange}}
              @options={{this.categories}}
              @selected={{this.processCategory}}
              @searchEnabled={{true}}
              @searchField="label"
              as |category|
            >
              {{category.label}}
            </PowerSelect>

          </:body>
          <:footer>
            <AuButtonGroup class="au-u-flex--end">
              {{#if this.showResetButton}}
                <AuButton
                  @skin="naked"
                  @icon="redo"
                  {{on "click" this.clearSelections}}
                >
                  Herstel keuzes</AuButton>
              {{/if}}
              <AuButton
                @skin="secondary"
                {{on "click" this.closeModal}}
              >Annuleer</AuButton>
              <AuButton
                @skin="primary"
                @disabled={{not this.canSave}}
                {{on "click" (perform this.saveInventoryProcess)}}
              >Opslaan</AuButton>

            </AuButtonGroup>
          </:footer>
        </AuModal>
      </form>
    {{/if}}

    {{#if this.isDeleteModalOpen}}
      <AuModal
        @modalOpen={{this.isDeleteModalOpen}}
        @closeModal={{this.closeModal}}
      >
        <:title>Verwijder proces</:title>
        <:body>
          Weet u zeker dat u het proces
          <strong>{{this.processToDelete.title}}</strong>
          wilt verwijderen?
        </:body>
        <:footer>
          <AuButtonGroup class="au-u-flex--end">
            <AuButton
              @skin="naked"
              {{on "click" this.closeModal}}
            >Annuleer</AuButton>
            <AuButton
              @skin="primary"
              @alert={{true}}
              {{on "click" (perform this.deleteInventoryProcess)}}
            >Verwijderen</AuButton>

          </AuButtonGroup>
        </:footer>
      </AuModal>
    {{/if}}
  </:content>
</SidebarContainer>

<DownloadModal::InventoryProcesses
  @isOpen={{this.isDownloadModalOpen}}
  @onClose={{fn (mut this.isDownloadModalOpen) false}}
  @downloadOptions={{hash sort=this.sort page=this.page size=this.size}}
/>