<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <form
          {{on "reset" this.resetFilters}}
          class="au-o-box au-o-box--small au-o-flow au-o-flow--small au-u-padding"
        >
          <h1 class="au-u-h3 au-u-medium">Filters</h1>
          <div>
            <AuLabel for="filter-category">Categorie</AuLabel>
            <Inventory::SelectByCategory
              @id="filter-category"
              @selected={{this.category}}
              @onChange={{this.setCategory}}
              class="grow"
            />
          </div>
          <div>
            <AuLabel for="filter-domain">Procesdomein</AuLabel>
            <Inventory::SelectByDomain
              @id="filter-domain"
              @selected={{this.domain}}
              @onChange={{this.setDomain}}
              @category={{this.category}}
              class="grow"
            />
          </div>
          <div>
            <AuLabel for="filter-group">Procesgroep</AuLabel>
            <Inventory::SelectByGroup
              @id="filter-group"
              @selected={{this.group}}
              @onChange={{this.setGroup}}
              @category={{this.category}}
              @domain={{this.domain}}
              class="grow"
            />
          </div>
          <div>
            <AuLabel for="filter-title">Hoofdproces</AuLabel>
            <Inventory::SelectByTitle
              @id="filter-title"
              @selected={{this.title}}
              @onChange={{this.setTitle}}
              @category={{this.category}}
              @domain={{this.domain}}
              @group={{this.group}}
              class="grow"
            />
          </div>
          <div>
            <AuLabel for="filter-number">Nummer</AuLabel>
            <AuInput
              @id="filter-number"
              @selected={{this.number}}
              type="number"
              min="0"
              class="grow"
              {{on "input" this.setNumber}}
            />
          </div>
          <div class="au-u-flex au-u-flex--end">
            <AuButton
              @icon="cross"
              @skin="link"
              type="reset"
              class="au-u-padding-none au-u-medium"
            >
              Herstel alle filters
            </AuButton>
          </div>
        </form>
      </div>
    </div>
  </:sidebar>
  <:content>
    <PageHeader>
      <:title>Inventarisprocessen lokale besturen</:title>
      <:subtitle>
        <AuLinkExternal href="https://abb-vlaanderen.gitbook.io/informatie-oph">
          Handleiding Open Proces Huis
        </AuLinkExternal>
      </:subtitle>
      <:action>
        {{#if this.currentSession.isAdmin}}
          <AuButton
            @skin="secondary"
            @icon="add"
            iconAlignment="left"
            {{on "click" this.addNewInventoryProcess}}
          >Nieuw hoofdproces</AuButton>
        {{/if}}
      </:action>
    </PageHeader>

    <AuDataTable
      @content={{this.conceptualProcesses}}
      @isLoading={{this.isLoading}}
      @page={{this.page}}
      @size={{this.size}}
      as |t|
    >
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="category"
            @currentSorting={{this.sort}}
            @label="Categorie"
          />
          <AuDataTableThSortable
            @field="domain"
            @currentSorting={{this.sort}}
            @label="Procesdomein"
          />
          <AuDataTableThSortable
            @field="group"
            @currentSorting={{this.sort}}
            @label="Procesgroep"
          />
          <AuDataTableThSortable
            @field="title"
            @currentSorting={{this.sort}}
            @label="Hoofdproces"
          />
          <AuDataTableThSortable
            @field="number"
            @currentSorting={{this.sort}}
            @label="Nummer"
          />
        </c.header>
        {{#if this.hasErrored}}
          <TableMessage::Error />
        {{else if this.hasNoResults}}
          <TableMessage>
            <p>
              Er werden geen zoekresultaten gevonden.
            </p>
          </TableMessage>
        {{else}}
          <c.body as |conceptualProcess|>
            <td
            >{{conceptualProcess.processGroup.processDomain.processCategory.label}}</td>
            <td>{{conceptualProcess.processGroup.processDomain.label}}</td>
            <td>{{conceptualProcess.processGroup.label}}</td>
            <td>{{conceptualProcess.title}}</td>
            <td>
              <div class="au-u-flex au-u-flex--row au-u-flex--vertical-center">
                <span
                  class="inventory-process-number"
                >{{conceptualProcess.number}}</span>
                {{#if this.currentSession.isAdmin}}

                  <AuButtonGroup
                    @inline={{true}}
                    class="inventory-row-button-group"
                  >
                    <AuButton
                      @icon="pencil"
                      @skin="naked"
                      @size="large"
                      {{on
                        "click"
                        (fn this.editInventoryProcess conceptualProcess)
                      }}
                    />
                    <AuButton
                      @icon="bin"
                      @skin="naked"
                      @size="large"
                      @alert={{true}}
                      {{on "click" (fn this.openDeleteModal conceptualProcess)}}
                    />
                  </AuButtonGroup>
                {{/if}}
              </div>
            </td>
          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>

    {{#if this.isModalOpen}}
      <Inventory::AddConceptualProcessModal
        @record={{this.currentProcess}}
        @isEditing={{this.isEditing}}
        @onClose={{this.closeModal}}
        @onSave={{perform this.saveInventoryProcess}}
      />
    {{/if}}

    {{#if this.isDeleteModalOpen}}
      <Inventory::DeleteConceptualProcessModal
        @processTitle={{this.processToDelete.title}}
        @onCancel={{this.closeDeleteModal}}
        @onConfirm={{perform this.deleteInventoryProcess}}
      />
    {{/if}}
  </:content>
</SidebarContainer>