<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
    </div>
  </:sidebar>
  <:content>
    <div class="inventory-scrollable-content"></div>
    <PageHeader>
      <:title>Inventaris processen Lokale Besturen</:title>
      <:subtitle>
        <AuLinkExternal href="https://abb-vlaanderen.gitbook.io/informatie-oph">
          Handleiding Open Proces Huis
        </AuLinkExternal>
      </:subtitle>
      <:action>
        {{#if this.currentSession.isAdmin}}
          <AuButton
            @skin="secondary"
            @icon="add"
            iconAlignment="left"
            @disabled={{this.addProcessRowOpened}}
            {{on "click" this.addNewInventoryProcess}}
          >Nieuw hoofdproces</AuButton>
        {{/if}}
      </:action>
    </PageHeader>

    <AuDataTable
      @content={{this.conceptualProcesses}}
      @isLoading={{this.isLoading}}
      @page={{this.page}}
      @size={{this.size}}
      as |t|
    >
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="category"
            @currentSorting={{this.sort}}
            @label="Categorie"
          />
          <AuDataTableThSortable
            @field="domain"
            @currentSorting={{this.sort}}
            @label="Procesdomein"
          />
          <AuDataTableThSortable
            @field="group"
            @currentSorting={{this.sort}}
            @label="Procesgroep"
          />
          <AuDataTableThSortable
            @field="title"
            @currentSorting={{this.sort}}
            @label="Hoofdproces"
          />
          <AuDataTableThSortable
            @field="number"
            @currentSorting={{this.sort}}
            @label="Nummer"
          />
        </c.header>
        {{#if this.hasErrored}}
          <TableMessage::Error />
        {{else if this.hasNoResults}}
          <TableMessage>
            <p>
              Er werden geen zoekresultaten gevonden.
            </p>
          </TableMessage>
        {{else}}
          <c.body as |conceptualProcess|>
            <td
            >{{conceptualProcess.processGroup.processDomain.processCategory.label}}</td>
            <td>{{conceptualProcess.processGroup.processDomain.label}}</td>
            <td>{{conceptualProcess.processGroup.label}}</td>
            <td>{{conceptualProcess.title}}</td>
            <td>{{conceptualProcess.number}}</td>
          </c.body>
        {{/if}}
        {{#if this.addProcessRowOpened}}
          <tbody>
            <tr>
              <td>
                <PowerSelect
                  @placeholder="Selecteer een categorie"
                  @onChange={{this.handleProcessCategoryChange}}
                  @options={{this.categories}}
                  @selected={{this.processCategory}}
                  as |category|
                >
                  {{category.label}}
                </PowerSelect>
              </td>
              <td>
                <PowerSelect
                  @placeholder="Selecteer een domein"
                  @onChange={{this.handleProcessDomainChange}}
                  @options={{this.availableDomains}}
                  @selected={{this.processDomain}}
                  as |domain|
                >
                  {{domain.label}}
                </PowerSelect>
              </td>
              <td>
                <PowerSelect
                  @placeholder="Selecteer een groep"
                  @onChange={{this.handleProcessGroupChange}}
                  @options={{this.availableGroups}}
                  @selected={{this.processGroup}}
                  as |group|
                >
                  {{group.label}}
                </PowerSelect>
              </td>
              <td>
                <AuInput @placeholder="Zoek een conceptueel proces" />
              </td>
              <td>
                <div
                  class="au-u-flex au-u-flex--row au-u-flex--vertical-center"
                >
                  {{this.newProcessId}}
                  {{#if this.addProcessRowEdited}}
                    <AuButton
                      @skin="naked"
                      @icon="redo"
                      class="inventory-row-redo-icon"
                      {{on "click" this.clearSelections}}
                    />
                  {{else}}
                    <AuButton
                      @skin="naked"
                      @icon="cross"
                      class="inventory-row-cancel-icon"
                      {{on "click" this.closeAddProcessRow}}
                    />
                  {{/if}}
                  <AuButton
                    @skin="naked"
                    @icon="check"
                    class="inventory-row-add-icon"
                  />

                </div>
              </td>
            </tr>
          </tbody>
        {{/if}}
      </t.content>
    </AuDataTable>
  </:content>
</SidebarContainer>