<SidebarContainer>
  <:sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <form
          {{on "reset" this.resetFilters}}
          class="au-o-box au-o-box--small au-o-flow au-o-flow--small au-u-padding"
        >
          <h1 class="au-u-h3 au-u-medium">Filters</h1>
          <div>
            <AuLabel for="filter-title">Titel of beschrijving</AuLabel>
            <ProcessSelectByTitle
              @id="filter-title"
              @selected={{this.title}}
              @onChange={{this.setTitle}}
              @publisher={{this.currentSession.group.id}}
              class="grow"
            />
          </div>
          <div class="au-u-flex au-u-flex--end">
            <AuButton
              @icon="cross"
              @skin="link"
              type="reset"
              class="au-u-padding-none au-u-medium"
            >
              Herstel alle filters
            </AuButton>
          </div>
        </form>
      </div>
    </div>
  </:sidebar>
  <:content>
    <PageHeader>
      <:title>Mijn lokaal bestuur</:title>
      <:subtitle>
        <AuLinkExternal href="https://abb-vlaanderen.gitbook.io/informatie-oph">
          Handleiding Open Proces Huis
        </AuLinkExternal>
      </:subtitle>
      <:action>
      </:action>
    </PageHeader>

    <AuDataTable
      @content={{this.processes}}
      @isLoading={{this.isLoading}}
      @page={{this.page}}
      @size={{this.size}}
      as |t|
    >
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="title"
            @currentSorting={{this.sort}}
            @label="Titel"
          />
          <AuDataTableThSortable
            @field="description"
            @currentSorting={{this.sort}}
            @label="Beschrijving"
          />
          <AuDataTableThSortable
            @field="classification"
            @currentSorting={{this.sort}}
            @label="Relevant voor"
          />
          <AuDataTableThSortable
            @field="organization"
            @currentSorting={{this.sort}}
            @label="Bestuur"
          />
          <AuDataTableThSortable
            @field="modified"
            @currentSorting={{this.sort}}
            @label="Laatst aangepast op"
          />
        </c.header>
        {{#if this.hasErrored}}
          <TableMessage::Error />
        {{else if this.hasNoResults}}
          <TableMessage>
            <p>
              Er werden geen zoekresultaten gevonden.
            </p>
          </TableMessage>
        {{else}}
          <c.body as |process|>
            <td
              class="au-u-flex au-u-flex--spaced-tiny au-u-flex--vertical-center"
            >
              {{#if process.isBlueprint}}
                <CustomIcon @icon="blueprint" @size="large" />
              {{/if}}
              <LinkTo
                class="au-c-link"
                @model={{process.id}}
                @route="processes.process"
              >
                {{process.title}}
              </LinkTo>
            </td>
            <td>{{or (truncate process.description 150 true) "/"}}</td>
            <td>
              <ul>
                <li>{{process.publisher.classification.label}}</li>
                {{#each process.relevantAdministrativeUnits as |adminUnit|}}
                  <li>{{adminUnit.label}}</li>
                {{/each}}
              </ul>
            </td>
            <td>{{process.publisher.name}}</td>
            <td>{{date-format process.modified}}</td>

          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>
  </:content>
</SidebarContainer>