<LayoutHome>
  {{#if this.currentSession.canOnlyReadWhileAuthenticated}}
    <AuAlert
      @skin="warning"
      @icon="alert-triangle"
      @size="small"
      class="au-u-margin-bottom-none"
    >
      U hebt niet de juiste rechten om processen toe te voegen of aan te passen.
      Processen of processtappen raadplegen, is wel steeds mogelijk.
    </AuAlert>
  {{/if}}
  <AuBodyContainer class="au-u-background-gray-100">
    <section class="c-home">
      <div class="au-o-flow">
        <AuContent>
          <AuHeading @level="1" @skin="2">Welkom bij Open Proces huis, jouw
            centrale bron voor het ontdekken en delen van processen.</AuHeading>
          <div class="c-home__visual">
            <img
              src="/assets/images/homepage-visual.svg"
              class="c-home-visual"
              alt=""
              {{!template-lint-disable require-valid-alt-text}}
            />
          </div>
          {{#if this.currentSession.canEdit}}
            <p>Raadpleeg processen en originele BPMN-bestanden. Doorzoek
              processtappen en upload processen.</p>
          {{else}}
            <p>Raadpleeg processen en originele BPMN-bestanden.</p>
          {{/if}}
        </AuContent>
        <div class="au-c-home__form au-o-flow">
          <div class="au-o-grid au-o-grid--small">
            <div class="au-o-grid__item au-u-1-2@medium">
              <AuCard @flex={{true}} as |c|>
                <c.header
                  @badgeSkin="brand"
                  @badgeIcon="sitemap"
                  @badgeSize="small"
                >
                  <AuHeading @level="2" @skin="4">
                    Processenbibliotheek
                  </AuHeading>
                </c.header>
                <c.content>
                  <AuList @divider={{true}} as |Item|>
                    <Item>Raadpleeg processen</Item>
                    <Item>Doorzoek processtappen</Item>
                  </AuList>
                </c.content>
                <c.footer>
                  <div class="au-u-h-functional au-o-flow au-o-flow--small">
                    <AuLink @skin="button" @route="processes">Processen</AuLink>
                    <AuLink
                      @skin="button-secondary"
                      @route="process-steps"
                    >Processtappen</AuLink>
                  </div>
                </c.footer>
              </AuCard>
            </div>
            {{#if this.currentSession.canEdit}}
              <div class="au-o-grid__item au-u-1-2@medium">
                <AuCard @flex={{true}} as |c|>
                  <c.header
                    @badgeSkin="brand"
                    @badgeIcon="upload"
                    @badgeSize="small"
                  >
                    <AuHeading @level="2" @skin="4">
                      Deel jouw processen
                    </AuHeading>
                  </c.header>
                  <c.content>
                    <AuList @divider={{true}} as |Item|>
                      <Item>Upload processen</Item>
                      <Item>Beheer gedeelde processen</Item>
                    </AuList>
                  </c.content>
                  <c.footer>
                    <div class="au-u-h-functional au-o-flow au-o-flow--small">
                      <AuLink @skin="button" @route="shared-processes">Deel jouw
                        processen</AuLink>
                    </div>
                  </c.footer>
                </AuCard>
              </div>
            {{/if}}
          </div>
          <p class="au-u-text-center">
            <AuLink @route="help">Meer informatie over processen en BPMN
              bestanden</AuLink>
          </p>
        </div>
      </div>
    </section>
  </AuBodyContainer>
</LayoutHome>