<LayoutHome>
  <AuBodyContainer class="au-u-background-gray-100">
    <section class="c-home">
      <div class="au-o-flow">
        <AuContent>
          <AuHeading @level="1" @skin="2">Welkom bij Open Proces Huis, jouw
            centrale bron voor het ontdekken en delen van processen.</AuHeading>
          <div class="c-home__visual">
            <img
              src="/assets/images/homepage-visual.svg"
              class="c-home-visual"
              alt=""
              {{!template-lint-disable require-valid-alt-text}}
            />
          </div>
          <ul>
            <li>Raadpleeg de inventaris van processen van lokale besturen in
              Vlaanderen. Dit is een overzicht van alle processen die kunnen
              voorkomen bij lokale besturen. Deze inventaris is toegankelijk
              zonder toegangsrechten.
            </li>

            <li>
              Raadpleeg, doorzoek of upload processen als BPMN- of
              Visiobestanden, en eventueel aanvullende beschrijvende informatie
              om processen te ontdekken en te delen. Deze processen zijn enkel
              toegankelijk voor wie toegangsrechten heeft. Niet alle processen
              uit de inventaris hebben reeds een BPMN- of Visiobestand.
            </li>
          </ul>
        </AuContent>
        <div class="au-c-home__form au-o-flow">
          <div class="au-o-grid au-o-grid--small">
            {{#if this.currentSession.isAuthenticated}}
              <div class="au-o-grid__item au-u-1-2@medium">
                <AuCard @flex={{true}} as |c|>
                  <c.header
                    @badgeSkin="brand"
                    @badgeIcon="sitemap"
                    @badgeSize="small"
                  >
                    <AuHeading @level="2" @skin="4">
                      Processenbibliotheek
                    </AuHeading>
                  </c.header>
                  <c.content>
                    <AuList @divider={{true}} as |Item|>
                      <Item>Raadpleeg processen</Item>
                    </AuList>
                  </c.content>
                  <c.footer>
                    <div class="au-u-h-functional au-o-flow au-o-flow--small">
                      <AuLink @skin="button" @route="processes">Toon Processen</AuLink>
                    </div>
                  </c.footer>
                </AuCard>
              </div>
              {{#if
                (or this.currentSession.canEdit this.currentSession.isAdmin)
              }}
                <div class="au-o-grid__item au-u-1-2@medium">
                  <AuCard @flex={{true}} as |c|>
                    <c.header
                      @badgeSkin="brand"
                      @badgeIcon="upload"
                      @badgeSize="small"
                    >
                      <AuHeading @level="2" @skin="4">
                        Deel jouw processen
                      </AuHeading>
                    </c.header>
                    <c.content>
                      <AuList @divider={{true}} as |Item|>
                        <Item>Upload processen</Item>
                        <Item>Beheer gedeelde processen</Item>
                      </AuList>
                    </c.content>
                    <c.footer>
                      <div class="au-u-h-functional au-o-flow au-o-flow--small">
                        <AuLink @skin="button" @route="shared-processes">Deel
                          jouw processen</AuLink>
                      </div>
                    </c.footer>
                  </AuCard>
                </div>
              {{/if}}
              {{#if this.currentSession.isAdmin}}
                <div class="au-o-grid__item au-u-1-2@medium">
                  <AuCard @flex={{true}} as |c|>
                    <c.header
                      @badgeSkin="brand"
                      @badgeIcon="upload"
                      @badgeSize="small"
                    >
                      <AuHeading @level="2" @skin="4">
                        Administratie
                      </AuHeading>
                    </c.header>
                    <c.content>
                      <AuList @divider={{true}} as |Item|>
                        <Item>Raadpleeg rapporten</Item>
                        <Item>Bevraag de databank</Item>
                      </AuList>
                    </c.content>
                    <c.footer>
                      <div class="au-u-h-functional au-o-flow au-o-flow--small">
                        <AuLink
                          @skin="button"
                          @route="reporting"
                        >Rapportering</AuLink>
                        <AuLink
                          @skin="button-secondary"
                          @route="sparql"
                        >SPARQL</AuLink>
                      </div>
                    </c.footer>
                  </AuCard>
                </div>
              {{/if}}
            {{else}}
              <div class="au-o-grid__item au-u-1-2@medium">
                <AuLink
                  @skin="button"
                  @route="auth.login"
                  class="au-u-margin-right-tiny"
                >Log in</AuLink>
                <AuLink @skin="button-secondary" @route="inventory">Inventaris
                  processen bekijken</AuLink>

              </div>
            {{/if}}
          </div>
          <p class="au-u-text-center">
            <AuLinkExternal
              href="https://abb-vlaanderen.gitbook.io/informatie-oph"
            >
              Handleiding Open Proces Huis
            </AuLinkExternal>
          </p>
        </div>
      </div>
    </section>
  </AuBodyContainer>
</LayoutHome>